<div class="grid">
  <div class="col-12">
    <div class="card">
      <div class="page-header">
        <h5>{{'TAGSET_MANAGER.tagsetManager'|translate}}</h5>
        <button aria-label="New tagset" pButton pRipple [label]="'TAGSET_MANAGER.newTagset'|translate" icon="pi pi-tag" class="p-button-danger" (click)="onNew()"></button>
      </div>
      <div class="card-body p-fluid">
        <p-table [value]="(tagsets$|async)||[]" [rows]="10" [paginator]="true" [rowHover]="true" dataKey="id"
          [currentPageReportTemplate]="'GENERAL.currentPageReportTemplate'|translate"
          [responsive]="true" responsiveLayout="scroll" [showCurrentPageReport]="true">
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="name">{{'TAGSET_MANAGER.name'|translate}}<p-sortIcon field="name"></p-sortIcon></th>
              <th pSortableColumn="description">{{'TAGSET_MANAGER.description'|translate}}<p-sortIcon field="description"></p-sortIcon></th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-tagset let-i="rowIndex">
            <tr>
              <td>{{tagset.name}}</td>
              <td>{{tagset.description}}</td>
              <td>
                <button aria-label="Edit tagset" pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mx-2"
                  (click)="onEdit(tagset)"></button>
                  <button aria-label="Edit tagset items" pButton pRipple icon="fa-solid fa-layer-group" class="p-button-rounded p-button-info mx-2"
                  (click)="onEditTagsetItems(tagset)"></button>
          <button aria-label="Delete tagset" pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger mx-2"
                  (click)="onDelete(tagset)"></button>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
              In total there are {{ tagsetTotal$|async }} tagsets.
            </div>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
<p-dialog [header]="modalTitle" class="modal" [(visible)]="visibleEditNewTagset" [modal]="true"
  [style]="{ minWidth: '30vw', maxWidth: '50vw' }" appendTo="body">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form (ngSubmit)="onSubmitTagsetModal()" [formGroup]="tagsetForm" id="tagsetForm" class="validated">
        <div class="modal-body">
          <div class="form-group">
            <label for="name" class="form-label">{{'TAGSET_MANAGER.name'|translate}} *</label>
            <div class="p-fluid">
              <input id="name" type="text" name="name" class="form-control" formControlName="name" autofocus maxlength="300"
                [placeholder]="'TAGSET_MANAGER.tagsetName'|translate">
              <div *ngIf="name.invalid && (name.touched || name.dirty)" class="invalid-feedback">
                <div *ngIf="name.errors?.['required']">
                  {{'TAGSET_MANAGER.nameMandatory'|translate}}
                </div>
                <div *ngIf="name.errors?.['isNotOnlyWhitespaces']">
                  {{'TAGSET_MANAGER.nameNotBlanks'|translate}}
                </div>
                <div *ngIf="name.errors?.['notDuplicateName']">
                  {{'TAGSET_MANAGER.tagsetSameName'|translate}}
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="description" class="form-label">{{'TAGSET_MANAGER.description'|translate}}</label>
            <div class="p-fluid">
              <textarea id="description" rows="3" formControlName="description" type="text" name="description"
                class="form-control"></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="visibleEditNewTagset=false;">
            {{'GENERAL.cancel'|translate}}
          </button>
          <button type="submit" class="btn btn-primary"
            [disabled]="tagsetForm.invalid || name.value === ''">{{tagsetOnEdit!==undefined? ('GENERAL.update'|translate): ('GENERAL.add'|translate)}}</button>
        </div>
      </form>
    </div>
  </div>
</p-dialog>

<app-popup-delete-item #popupDeleteItem></app-popup-delete-item>