<div class="field col-12">
  <label for="item">{{ propertyItem.menuItem.label }}</label>
  <input
    (ngModelChange)="textFieldUpdate.next($event)"
    name="item" [ngModel]="propertyItem.value" pInputText type="text"
    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
  <button pButton pRipple type="button" icon="pi pi-times"
    class=" col-1 p-button-rounded p-button-danger p-button-text"
    (click)="onRemoveProperty()">
  </button>
</div>

<app-popup-delete-item #popupDeleteItem></app-popup-delete-item>

