<p-tabView [(activeIndex)]="selectedTab">
  <p-tabPanel header="Lex. entry">
    <app-lex-entry-editor [lexicalEntry$]="lexicalEntry$" *ngIf="selectedTab === 0"></app-lex-entry-editor>
  </p-tabPanel>
  <p-tabPanel header="Decomposition" [disabled]="true"></p-tabPanel>
  <p-tabPanel header="Relations"></p-tabPanel>
  <p-tabPanel header="Contexts"></p-tabPanel>
  <p-tabPanel header="Multimedia"></p-tabPanel>
  <p-tabPanel header="Dictionary view"></p-tabPanel>
  <p-tabPanel header="Metadata">
    <app-lex-entry-metadata-editor *ngIf="selectedTab === 6" [lexicalEntry$]="lexicalEntry$"></app-lex-entry-metadata-editor>
  </p-tabPanel>
</p-tabView>
