<p-table #dt 
        dataKey="id"
        [value]="searchResults"
        [lazy]="true"
        [lazyLoadOnInit]="false"
        (onLazyLoad)="lazyLoadSearchResults($event)"
        (onPage)="onPage($event)"
        (onColResize)="onColResize($event)"
        [totalRecords]="totalRecords"
        [(selection)]="selectedSearchResults"
        [rowHover]="true"
        [(rows)]="visibleRows"
        [scrollable]="true"
        scrollDirection="both"
        [resizableColumns]="true"
        columnResizeMode="expand"
        [scrollHeight]="tableContainerHeight+'px'"
        [showCurrentPageReport]="true" 
        [rowsPerPageOptions]="[10,25,50,100,200]" 
        [loading]="loading"
        [paginator]="true"
        styleClass="p-datatable-gridlines"
        paginatorDropdownAppendTo="body"
        [currentPageReportTemplate]="'GENERAL.currentPageReportTemplate'|translate">
        <ng-template pTemplate="header">
            <tr>
                <th [ngStyle]="{'width.%': colDefaultWidths[0]}" pResizableColumn></th>
                <th [ngStyle]="{'width.%': colDefaultWidths[1]}" pResizableColumn>{{'SEARCH.columns.index'|translate}}</th>
                <th [ngStyle]="{'width.%': colDefaultWidths[2]}" pResizableColumn>{{'SEARCH.columns.text'|translate}}</th>
                <th [ngStyle]="{'width.%': colDefaultWidths[3]}" pResizableColumn>{{'SEARCH.columns.ref'|translate}}</th>
                <th [ngStyle]="{'width.%': colDefaultWidths[4]}" pResizableColumn>{{'SEARCH.columns.leftContext'|translate}}</th>
                <th [ngStyle]="{'width.%': colDefaultWidths[5]}" pResizableColumn>{{'SEARCH.columns.kwic'|translate}}</th>
                <th [ngStyle]="{'width.%': colDefaultWidths[6]}" pResizableColumn>{{'SEARCH.columns.rightContext'|translate}}</th>
            </tr>
            <tr>
                <th [ngStyle]="{'width.%': colDefaultWidths[0]}" class="justify-content-center">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th [ngStyle]="{'width.%': colDefaultWidths[1]}">
                    <p-columnFilter type="text" class="w-100" [showMenu]="false" [showClearButton]="false">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <input [ngModel]="value" pInputText type="text" (input)="filterInputColumn($event.target, 'index', 'contains')"
                                class="p-column-filter p-inputtext">
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th [ngStyle]="{'width.%': colDefaultWidths[2]}">
                    <p-columnFilter type="text" class="w-100" [showMenu]="false" [showClearButton]="false">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <input [ngModel]="value" pInputText type="text" (input)="filterInputColumn($event.target, 'text', 'contains')"
                                class="p-column-filter p-inputtext">
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th [ngStyle]="{'width.%': colDefaultWidths[3]}">
                    <p-columnFilter type="text" class="w-100" [showMenu]="false" [showClearButton]="false">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <input [ngModel]="value" pInputText type="text" (input)="filterInputColumn($event.target, 'textHeader', 'contains')"
                                class="p-column-filter p-inputtext">
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th [ngStyle]="{'width.%': colDefaultWidths[4]}">
                    <p-columnFilter type="text" class="w-100" [showMenu]="false" [showClearButton]="false">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <input [ngModel]="value" pInputText type="text" (input)="filterInputColumn($event.target, 'leftContext', 'contains')"
                                class="p-column-filter p-inputtext">
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th [ngStyle]="{'width.%': colDefaultWidths[5]}">
                    <p-columnFilter type="text" class="w-100" [showMenu]="false" [showClearButton]="false">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <input [ngModel]="value" pInputText type="text" (input)="filterInputColumn($event.target, 'kwic', 'contains')"
                                class="p-column-filter p-inputtext">
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th [ngStyle]="{'width.%': colDefaultWidths[6]}">
                    <p-columnFilter type="text" class="w-100" [showMenu]="false" [showClearButton]="false">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <input [ngModel]="value" pInputText type="text" (input)="filterInputColumn($event.target, 'rightContext', 'contains')"
                                class="p-column-filter p-inputtext">
                        </ng-template>
                    </p-columnFilter>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-searchResult>
            <tr class="p-selectable-row" (dblclick)="tableRowDoubleClickHandler($event, searchResult)">
                <td [ngStyle]="{'width.%': colDefaultWidths[0]}" class="justify-content-center">
                    <p-tableCheckbox [value]="searchResult"></p-tableCheckbox>
                </td>
                <td [ngStyle]="{'width.%': colDefaultWidths[1]}">
                    {{searchResult.index + 1}}
                </td>
                <td [ngStyle]="{'width.%': colDefaultWidths[2]}">
                    {{searchResult.text}}
                </td>
                <td [ngStyle]="{'width.%': colDefaultWidths[3]}">
                    {{searchResult.reference}}
                </td>
                <td [ngStyle]="{'width.%': colDefaultWidths[4]}" class="justify-content-end">
                    <div class="leftContext">
                        <span>{{searchResult.leftContext | replaceEscapes}}</span>
                    </div>
                </td>
                <td [ngStyle]="{'width.%': colDefaultWidths[5]}" class="justify-content-center">
                    <b>{{searchResult.kwic}}</b>
                </td>
                <td [ngStyle]="{'width.%': colDefaultWidths[6]}" class="rightContext justify-content-start">
                    <div class="rightContext">
                        {{searchResult.rightContext | replaceEscapes}}
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td style="width:100%">{{'SEARCH.noResult'|translate}}</td>
            </tr>
        </ng-template>
      </p-table>