$borderRadius: 12px;
$fontSize: 13px;
$transitionDuration: .2s;

$redPalette1: #BC0522;
$redPalette2: #E20A2F;
$redPalette3: #E10022;
$redPalette4: #EFB3BD;
$redPalette5: #FCE3E7;

$white: #ffffff;

$activeLinkColor: #5DADE2;
$disabledColor: #b3b3b3;
