$borderRadius: 12px;
$fontSize: 13px;
$transitionDuration: .2s;

$ilcColorRed: #E72E29;
$ilcColorGold: #F3AF1C;
$ilcColorBlue: #34A0D9;

$backgroundOverlayColor: rgba(0,0,0,0.6);

$redPalette1: #A5130F;
$redPalette2: #CD1913;
$redPalette3: #E01C15;
$redPalette4: #F16E6A;
$redPalette5: #FCDBDA;
$redPalette6: #F9E8E8;
$redPalette7: #A91D20;

$white: #ffffff;

$activeLinkColor: #5DADE2;
$disabledColor: #b3b3b3;

$errorRed: #A94442;
$swalDangerColor: #EC4758;
