$borderRadius: 12px;
$fontSize: 13px;
$transitionDuration: .2s;

$redPalette1: #A5130F;
$redPalette2: #CD1913;
$redPalette3: #E01C15;
$redPalette4: #F16E6A;
$redPalette5: #FCDBDA;

$white: #ffffff;

$activeLinkColor: #5DADE2;
$disabledColor: #b3b3b3;

$errorRed: #A94442
