<div class="layout-sidebar">
  <div class="layout-menu-container">
    <ul class="layout-menu" role="menu" id="side-menu">
      <li class="layout-menuitem-category" role="none">
        <div class="layout-menuitem-root-text">
          <div class="logo-element">
            IN+
          </div>
        </div>
        <ul role="menu">
          <li *ngIf="true"
            [ngClass]="{'active': isActive(['usersManagement/users','usersManagement/adduser'])}">
            <a routerLink="/usersManagement/users">
              <i class="layout-menuitem-icon pi pi-users"></i>
              <span>Gestione utenti</span>
              <i class="pi pi-chevron-down pi-fw ms-auto" *ngIf="isActive(['usersManagement/users','usersManagement/adduser'])"></i>
              <i class="pi pi-chevron-right pi-fw ms-auto" *ngIf="!isActive(['usersManagement/users','usersManagement/adduser'])"></i>
            </a>
            <ul [ngClass]="{'collapse':!(isActive(['usersManagement/users','usersManagement/adduser']))}">
              <li [ngClass]="{'active': isActive(['usersManagement/users'])}">
                <a routerLink="/usersManagement/users">
                  <span>Anagrafiche</span>
                </a>
              </li>
              <li [ngClass]="{'active': isActive(['usersManagement/adduser'])}">
                <a routerLink="/usersManagement/adduser">
                  <span>Ruoli e permessi</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
