<div class="card">
    <div class="row">
        <div class="col d-flex justify-content-start">
          <p-treeSelect [(ngModel)]="selectedDocuments"
              class="mx-5"
              (onShow)="reloadSelectedDocuments()"
              [options]="files"
              [metaKeySelection]="false"
              selectionMode="checkbox"
              display=""
              placeholder="Select File" 
              [filter]="true" 
              [filterInputAutoFocus]="true">
          </p-treeSelect>

          <div class="input-group">
            <span class="p-input-icon-left flex-fill">
              <i [class]="searchInput.invalid && (searchInput.touched || searchInput.dirty) ? 'pi pi-search center-icon' : 'pi pi-search'"></i>
              <input #searchInput="ngModel" required type="text" pInputText appWhitespacesValidator
              class="w-100"
              [placeholder]="this.searchLabel"
              [(ngModel)]="searchValue" />
              <small *ngIf="searchInput.invalid && (searchInput.touched || searchInput.dirty)" class="p-error block">
                Insert valid search value
              </small>
            </span>
            <p-selectButton (onChange)="onSearchModeChange()" optionDisabled="inactive" [options]="searchModes" [(ngModel)]="selectedSearchMode" optionLabel="name"></p-selectButton>
          </div>
          <p-dropdown class="mx-5" [disabled]="true" placeholder="Pos" optionLabel="name"></p-dropdown>
          
          <div class="slider-input mx-5">
            <label class="mb-2">Context Length: {{contextLength}}</label>
            <p-slider [min]="0" [max]="contextMaxLenght" [(ngModel)]="contextLength"></p-slider>
          </div>
      </div>
    </div>

    <div class="row">
      <div class="col d-flex justify-content-end">
        <button pButton type="button" label="Search" (click)="onSearch()" class="mx-2"></button>
        <button pButton type="button" label="Clear" (click)="onClear()" class="p-button-secondary mx-2"></button>
        <button disabled pButton type="button" label="Save As" class="p-button-help mx-2"></button>
        <button pButton type="button" label="Export" class="p-button-info mx-2"></button>
      </div>
    </div>
    <div class="">
      <p-table #dt 
      dataKey="id"
      [value]="searchResults" 
      [(selection)]="selectedSearchResults"
      [rowHover]="true"
      [rows]="5"
      [scrollable]="true"
      [scrollHeight]="tableContainerHeight+'px'"
      [showCurrentPageReport]="true" 
      [rowsPerPageOptions]="[10,25,50]" 
      [loading]="loading"
      [paginator]="true" 
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [filterDelay]="0">
        <ng-template pTemplate="caption">
            <div class="table-header">
                Number of results: 
            </div>
            <div class="table-header">
              Selected: 
          </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th></th>
                <th style="width:22%">Text</th>
                <th style="width:22%">Ref</th>
                <th style="width:22%">Left context</th>
                <th style="width:22%">KWIC</th>
                <th style="width:12%">Right context</th>
            </tr>
            <tr>
                <th>
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th>
                    <p-columnFilter type="text" field="text"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="textHeader"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="leftContext"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="kwic"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="rightContext"></p-columnFilter>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-searchResult>
            <tr class="p-selectable-row">
                <td>
                    <p-tableCheckbox [value]="searchResult"></p-tableCheckbox>
                </td>
                <td>
                    {{searchResult.text}}
                </td>
                <td>
                    {{searchResult.textHeader}}
                </td>
                <td>
                    {{searchResult.leftContext}}
                </td>
                <td>
                    <b>{{searchResult.kwic}}</b>
                </td>
                <td>
                    {{searchResult.rightContext}}
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="8">No results found.</td>
            </tr>
        </ng-template>
      </p-table>
    </div>
</div>