<div class="card h-100">
    <div class="row">
        <div class="col d-flex justify-content-start">
          <p-treeSelect [(ngModel)]="selectedDocuments"
              class="mr-5 dropdownDimensions"
              styleClass="w-100"
              (onShow)="reloadSelectedDocuments()"
              [options]="(files$|async)||[]"
              [metaKeySelection]="false"
              selectionMode="checkbox"
              display=""
              [placeholder]="'SEARCH.selectFile'|translate"
              [filter]="true" 
              [filterInputAutoFocus]="true">
          </p-treeSelect>

          <div class="p-inputgroup">
            <p-selectButton (onChange)="onSearchModeChange()" optionDisabled="inactive" [options]="searchModes" [(ngModel)]="selectedSearchMode" optionLabel="name"></p-selectButton>
            <span class="p-input-icon-left flex-fill">
              <i [class]="searchInput.invalid && (searchInput.touched || searchInput.dirty) ? 'pi pi-search center-icon' : 'pi pi-search'"></i>
              <input #searchInput="ngModel" required type="text" pInputText appWhitespacesValidator
                class="w-100"
                [placeholder]="this.searchLabel"
                [(ngModel)]="searchValue" />
              <small *ngIf="searchInput.invalid && (searchInput.touched || searchInput.dirty)" class="p-error block">
                {{'SEARCH.validSearchValue'|translate}}
              </small>
            </span>
          </div>
          <p-dropdown styleClass="w-100" class="mx-5 dropdownDimensions" [disabled]="true" placeholder="Pos" optionLabel="name"></p-dropdown>
          
          <div class="slider-input ml-5">
            <label class="mb-2">{{'SEARCH.contextLength'|translate}}: {{contextLength}}</label>
            <p-slider [min]="0" [max]="contextMaxLenght" [(ngModel)]="contextLength"></p-slider>
          </div>
      </div>
    </div>

    <div class="row">
      <div class="col d-flex justify-content-start">
            {{'SEARCH.selected'|translate}}: {{selectedSearchResults.length}}
      </div>
      <div class="col d-flex justify-content-end">
        <button pButton type="button" (click)="onSearch()" class="mx-2">{{'SEARCH.buttons.search'|translate}}</button>
        <button pButton type="button" (click)="onClear()" class="p-button-secondary mx-2">{{'SEARCH.buttons.clear'|translate}}</button>
        <button disabled pButton type="button" class="p-button-help mx-2">{{'SEARCH.buttons.saveAs'|translate}}</button>
        <p-splitButton #exp appendTo="body" 
            label="{{'SEARCH.buttons.export'|translate}}"
            (onClick)="exp.onDropdownButtonClick($event)"
            (onDropdownClick)="setExportMenuItems()"
            [model]="exportItems"
            [disabled]="searchResults.length === 0"
            styleClass="p-button-raised p-button-info mx-2">
        </p-splitButton>
      </div>
    </div>
    <div #tableContainer class="row mt-2">
      <p-table #dt 
      dataKey="id"
      [value]="searchResults"
      [lazy]="true"
      [lazyLoadOnInit]="false"
      (onLazyLoad)="lazyLoadSearchResults($event)"
      (onPage)="onPage($event)"
      (onColResize)="onColResize($event)"
      [totalRecords]="totalRecords"
      [(selection)]="selectedSearchResults"
      [rowHover]="true"
      [(rows)]="visibleRows"
      [scrollable]="true"
      scrollDirection="both"
      [resizableColumns]="true"
      columnResizeMode="expand"
      [scrollHeight]="tableContainerHeight+'px'"
      [showCurrentPageReport]="true" 
      [rowsPerPageOptions]="[10,25,50,100,200]" 
      [loading]="loading"
      [paginator]="true"
      styleClass="p-datatable-gridlines"
      paginatorDropdownAppendTo="body"
      [currentPageReportTemplate]="'GENERAL.currentPageReportTemplate'|translate">
        <ng-template pTemplate="header">
            <tr>
                <th [ngStyle]="{'width.%': colDefaultWidths[0]}" pResizableColumn></th>
                <th [ngStyle]="{'width.%': colDefaultWidths[1]}" pResizableColumn>{{'SEARCH.columns.index'|translate}}</th>
                <th [ngStyle]="{'width.%': colDefaultWidths[2]}" pResizableColumn>{{'SEARCH.columns.text'|translate}}</th>
                <th [ngStyle]="{'width.%': colDefaultWidths[3]}" pResizableColumn>{{'SEARCH.columns.ref'|translate}}</th>
                <th [ngStyle]="{'width.%': colDefaultWidths[4]}" pResizableColumn>{{'SEARCH.columns.leftContext'|translate}}</th>
                <th [ngStyle]="{'width.%': colDefaultWidths[5]}" pResizableColumn>{{'SEARCH.columns.kwic'|translate}}</th>
                <th [ngStyle]="{'width.%': colDefaultWidths[6]}" pResizableColumn>{{'SEARCH.columns.rightContext'|translate}}</th>
            </tr>
            <tr>
                <th [ngStyle]="{'width.%': colDefaultWidths[0]}" class="justify-content-center">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th [ngStyle]="{'width.%': colDefaultWidths[1]}">
                    <p-columnFilter type="text" field="index" matchMode="contains" class="w-100" [showMenu]="false" [showClearButton]="false">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <input [ngModel]="value" pInputText type="text" (input)="filter(toHtmlInputElement($event.target).value)"
                                class="p-column-filter p-inputtext">
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th [ngStyle]="{'width.%': colDefaultWidths[2]}">
                    <p-columnFilter type="text" field="text" matchMode="contains" class="w-100" [showMenu]="false" [showClearButton]="false">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <input [ngModel]="value" pInputText type="text" (input)="filter(toHtmlInputElement($event.target).value)"
                                class="p-column-filter p-inputtext">
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th [ngStyle]="{'width.%': colDefaultWidths[3]}">
                    <p-columnFilter type="text" field="textHeader" matchMode="contains" class="w-100" [showMenu]="false" [showClearButton]="false">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <input [ngModel]="value" pInputText type="text" (input)="filter(toHtmlInputElement($event.target).value)"
                                class="p-column-filter p-inputtext">
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th [ngStyle]="{'width.%': colDefaultWidths[4]}">
                    <p-columnFilter type="text" field="leftContext" matchMode="contains" class="w-100" [showMenu]="false" [showClearButton]="false">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <input [ngModel]="value" pInputText type="text" (input)="filter(toHtmlInputElement($event.target).value)"
                                class="p-column-filter p-inputtext">
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th [ngStyle]="{'width.%': colDefaultWidths[5]}">
                    <p-columnFilter type="text" field="kwic" matchMode="contains" class="w-100" [showMenu]="false" [showClearButton]="false">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <input [ngModel]="value" pInputText type="text" (input)="filter(toHtmlInputElement($event.target).value)"
                                class="p-column-filter p-inputtext">
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th [ngStyle]="{'width.%': colDefaultWidths[6]}">
                    <p-columnFilter type="text" field="rightContext" matchMode="contains" class="w-100" [showMenu]="false" [showClearButton]="false">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <input [ngModel]="value" pInputText type="text" (input)="filter(toHtmlInputElement($event.target).value)"
                                class="p-column-filter p-inputtext">
                        </ng-template>
                    </p-columnFilter>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-searchResult>
            <tr class="p-selectable-row" (dblclick)="tableRowDoubleClickHandler($event, searchResult)">
                <td [ngStyle]="{'width.%': colDefaultWidths[0]}" class="justify-content-center">
                    <p-tableCheckbox [value]="searchResult"></p-tableCheckbox>
                </td>
                <td [ngStyle]="{'width.%': colDefaultWidths[1]}">
                    {{searchResult.index}}
                </td>
                <td [ngStyle]="{'width.%': colDefaultWidths[2]}">
                    {{searchResult.text}}
                </td>
                <td [ngStyle]="{'width.%': colDefaultWidths[3]}">
                    {{searchResult.reference}}
                </td>
                <td [ngStyle]="{'width.%': colDefaultWidths[4]}" class="justify-content-end">
                    <div class="leftContext">
                        {{searchResult.leftContext}}
                    </div>
                </td>
                <td [ngStyle]="{'width.%': colDefaultWidths[5]}" class="justify-content-center">
                    <b>{{searchResult.kwic}}</b>
                </td>
                <td [ngStyle]="{'width.%': colDefaultWidths[6]}" class="rightContext justify-content-start">
                    <div class="rightContext">
                        {{searchResult.rightContext}}
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td style="width:100%">{{'SEARCH.noResult'|translate}}</td>
            </tr>
        </ng-template>
      </p-table>
    </div>
</div>