div.grid.p-fluid.input-search {
    padding: 13px;
  }
  
  td:has(sub) {
    overflow-x: clip;
  }
  
  td:has(> span),
  td:has(> span) div:has(> span) {
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  div:has(> label) {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  td {
    padding: 0.5rem 0.5rem !important;
  
    span :not(.dot) {
      display: inline;
    }
  }
  
  .pi-link.link-pointer {
    cursor: pointer;
  }
  
  .rectangle {
    height: 10px;
    width: 18px;
    background-color: #37a14a;
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.25rem;
  }