<p-skeleton *ngIf="!senseEntry" width="30rem" height="40rem"></p-skeleton>
<div *ngIf="senseEntry" class="card" [style]="{'height': '100%', 'overflow-y': 'scroll'}">
  <form class="formgrid grid" [formGroup]="form">
    <div class="field col-6" style="align-self: center;">
      <em>Last update: {{senseEntry.lastUpdate | date: 'medium'}}</em>
    </div>
    <div class="field col-6">
      <button pButton type="button" icon="pi pi-trash" class="p-button-danger" style="float: right;"
        pTooltip="Delete lexical form" (click)="onDeleteLexicalSense()"></button>
    </div>
    <div class="field col-12">
      <p-fieldset>
        <ng-template pTemplate="header">
          <p-menu #menuDefinitions [model]="definitionsMenuItems" [popup]="true" appendTo="body"></p-menu>
          Definitions <button pButton pRipple icon="pi pi-plus" type="button" (click)="menuDefinitions.toggle($event)"
            class="p-button-rounded p-button-success mx-2 fieldset-small"></button>
        </ng-template>
        <ng-template pTemplate="content">
          <form [formGroup]="form.controls.definition">
            <div class="field col-12" *ngFor="let control of definitionFormItems">
              <label [for]="control.propertyID">{{control.propertyID}}</label>
              <div class="d-flex justify-content-between" style="align-items: center;">
                <textarea pInputTextarea [formControlName]="control.propertyID" [name]="control.propertyID"
                  class="col-11"></textarea>
                <button *ngIf="control.propertyID !== 'definition'" pButton pRipple type="button" icon="pi pi-times"
                  class=" col-1 p-button-rounded p-button-danger p-button-text"
                  (click)="onRemoveDefinitionElement(control.propertyID)"></button>
              </div>
            </div>
          </form>
        </ng-template>
      </p-fieldset>
    </div>
    <div class="field col-12">
      <p-fieldset>
        <ng-template pTemplate="header">
          Morphological Restriction <button pButton pRipple icon="pi pi-plus" type="button"
            class="p-button-rounded p-button-success mx-2 fieldset-small"></button>
        </ng-template>
        <ng-template pTemplate="content"></ng-template>
      </p-fieldset>
    </div>
  </form>
</div>
