<div class="field col-12">
  <p-fieldset>
    <ng-template pTemplate="header">
      <p-tieredMenu #directRelations [model]="menuItems" [popup]="true" appendTo="body"></p-tieredMenu>
      Direct Entry Relations
      <button pButton pRipple icon="pi pi-plus" type="button"
        (click)="directRelations.toggle($event)"
        class="p-button-rounded p-button-success mx-2 fieldset-small">
      </button>
    </ng-template>
    <ng-template pTemplate="content">
        <div class="field col-12" *ngFor="let control of formItems">
          <app-lex-entity-semantic-rel [strategy]="strategy" [control]="control" [form]="form" [formItems]="formItems">
          </app-lex-entity-semantic-rel>
        </div>
    </ng-template>
  </p-fieldset>
</div>
