<p-autoComplete [suggestions]="(suggestions|async)||[]" (completeMethod)="onFilter($event)" [delay]="300"
    appendTo="body" [virtualScroll]="true" (onSelect)="onSelectSuggestion($event)" [field]="field"
    [forceSelection]="forceSelection" [(ngModel)]="valueToShow"
    [showEmptyMessage]="true" emptyMessage="No matching"
    [styleClass]="styleClass" [inputStyleClass]="inputStyleClass">
    <ng-template *ngIf="showOptionPrefix" let-item pTemplate="item">
        <strong>{{item[prefixField]}}: </strong>{{item[field]}}
    </ng-template>
    <ng-template *ngIf="showOptionSuffix" let-item pTemplate="item">
        {{item[field]}}<sub>{{item[suffixField]}}</sub>
    </ng-template>
</p-autoComplete>