<p-skeleton *ngIf="!lexicalEntry" width="30rem" height="40rem"></p-skeleton>

<div *ngIf="lexicalEntry" class="card" [style]="{'height': '100%'}">
  <form (ngSubmit)="onSubmit()" [formGroup]="form" class="formgrid grid">
    <div class="field col-6">
      <em>Last update: {{lexicalEntry.lastUpdate | date : 'medium'}}</em>
    </div>
    <div class="field col-6">
      <p-selectButton [options]="statusForm" formControlName="status">
        <ng-template let-item>
          <app-icon-lock [status]="item"></app-icon-lock>
        </ng-template>
      </p-selectButton>
    </div>
    <div class="field col-7">
      <label for="label">Label</label>
      <input pInputText formControlName="label" type="text" name="label"
        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
    </div>
    <div class="field col-1" style="align-self: center; text-align: center;">
      <label></label>
      <i class="pi pi-at"></i>
    </div>
    <div class="field col-4">
      <label for="language">Language</label>
      <p-dropdown [options]="(languages$ | async) || []" optionLabel="label" optionValue="label" styleClass="w-full"
        [placeholder]="emptyField" [filter]="true" filterBy="label" name="language"
        formControlName="language"></p-dropdown>
    </div>
    <div class="field col-6">
      <label for="pos">Part-of-Speech</label>
      <p-dropdown [options]="(pos$|async) || []" optionLabel="valueLabel" optionValue="valueId" [filter]="true"
        filterBy="name" [placeholder]="emptyField" formControlName="pos" name="pos" styleClass="w-full"></p-dropdown>
    </div>
    <div class="field col-6">
      <label for="type">Type</label>
      <p-multiSelect [options]="(types$|async) || []" optionLabel="valueLabel" optionValue="valueId" display="chip"
        [placeholder]="emptyField" formControlName="type" name="type" styleClass="w-full"></p-multiSelect>
    </div>
    <div class="field col-7">
      <p-fieldset>
        <ng-template pTemplate="header">
          Evokes <button pButton pRipple icon="pi pi-plus"
            class="p-button-rounded p-button-success mx-2 fieldset-small"></button>
        </ng-template>
        <ng-template pTemplate="content">
          <app-autocomplete-checkbox [isChecked]="false" placeholderMsg="Search lexical concept"
            [filterFn]="lexConceptList" field="label"></app-autocomplete-checkbox>
        </ng-template>
      </p-fieldset>
    </div>
    <div class="field col-5">
      <p-fieldset legend="Evokes" styleClass="read-only"></p-fieldset>
    </div>
    <div class="field col-7">
      <p-fieldset>
        <ng-template pTemplate="header">
          Denotes <button pButton pRipple icon="pi pi-plus"
            class="p-button-rounded p-button-success mx-2 fieldset-small"></button>
        </ng-template>
      </p-fieldset>
    </div>
    <div class="field col-5">
      <p-fieldset legend="Denotes" styleClass="read-only"></p-fieldset>
    </div>
    <div class="field col-7">
      <p-fieldset>
        <ng-template pTemplate="header">
          See also <button pButton pRipple icon="pi pi-plus"
            class="p-button-rounded p-button-success mx-2 fieldset-small" (click)="onAddSeeAlso()"></button>
        </ng-template>
        <ng-template pTemplate="content">
          <form formArrayName="seeAlso">
            <app-autocomplete-checkbox *ngFor="let sA of seeAlso.controls; index as index" [isChecked]="false"
              placeholderMsg="Search lexical entry" [filterFn]="lexEntryList" field="label"
              (selected)="onSelectLexEntry($event)" (remove)="onRemoveSeeAlso(index)"></app-autocomplete-checkbox>
          </form>
        </ng-template>
      </p-fieldset>
    </div>
  </form>
</div>
