<p-skeleton *ngIf="!lexicalEntry" width="30rem" height="40rem"></p-skeleton>

<div *ngIf="lexicalEntry" class="card" [style]="{'height': '100%', 'overflow-y': 'scroll'}">
  <form [formGroup]="form" class="formgrid grid">
    <div class="field col-6">
      <em>Last update: {{lexicalEntry.lastUpdate | date : 'medium'}}</em>
    </div>
    <div class="field col-6">
      <p-selectButton [options]="statusForm" formControlName="status">
        <ng-template let-item>
          <app-icon-lock [status]="item"></app-icon-lock>
        </ng-template>
      </p-selectButton>
    </div>
    <div class="field col-7">
      <label for="label">Label</label>
      <input pInputText formControlName="label" type="text" name="label"
        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
    </div>
    <div class="field col-1" style="align-self: center; text-align: center;">
      <label></label>
      <i class="pi pi-at"></i>
    </div>
    <div class="field col-4">
      <label for="language">Language</label>
      <p-dropdown [options]="(languages$ | async) || []" optionLabel="label" optionValue="label" styleClass="w-full"
        [placeholder]="emptyField" [filter]="true" filterBy="label" name="language"
        formControlName="language"></p-dropdown>
    </div>
    <div class="field col-6">
      <label for="pos">Part-of-Speech</label>
      <p-dropdown [options]="(pos$|async) || []" optionLabel="valueLabel" optionValue="valueId" [filter]="true"
        filterBy="valueLabel" [placeholder]="emptyField" formControlName="pos" name="pos" styleClass="w-full"></p-dropdown>
    </div>
    <div class="field col-6">
      <label for="type">Type</label>
      <p-multiSelect [options]="(types$|async) || []" optionLabel="valueLabel" optionValue="valueId" display="chip"
        [placeholder]="emptyField" formControlName="type" name="type" styleClass="w-full"></p-multiSelect>
    </div>
    <div class="field col-12">
      <p-fieldset>
        <ng-template pTemplate="header">
          Evokes <button pButton pRipple icon="pi pi-plus" type="button" (click)="onAddEvokes()"
            class="p-button-rounded p-button-success mx-2 fieldset-small"></button>
        </ng-template>
        <ng-template pTemplate="content">
          <form formArrayName="evokes">
            <!--TODO rimuovi isCheckedDisabled quando finiscono le limitazioni di uso-->
            <app-autocomplete-checkbox placeholderMsg="Search lexical concept" [filterFn]="lexConceptList" field="label"
              *ngFor="let evoke of evokes.controls; index as index" [isChecked]="evoke.value.external"
              [isCheckedDisabled]="true" [fieldValue]="evoke.value" (selected)="onSelectLexicalConcept($event, index)"
              (remove)="onRemoveEvokes(index)"></app-autocomplete-checkbox>
          </form>
        </ng-template>
      </p-fieldset>
    </div>
    <div class="field col-12">
      <p-fieldset>
        <ng-template pTemplate="header">
          Denotes <button pButton pRipple icon="pi pi-plus" type="button" (click)="onAddDenotes()"
            class="p-button-rounded p-button-success mx-2 fieldset-small"></button>
        </ng-template>
        <ng-template pTemplate="content">
          <form formArrayName="denotes">
            <!--TODO rimuovi isCheckedDisabled quando finiscono le limitazioni di uso-->
            <app-autocomplete-checkbox placeholderMsg="Search ontologies" [filterFn]="lexOntolList" field="label"
              *ngFor="let denote of denotes.controls; index as index" [isChecked]="denote.value.external"
              [isCheckedDisabled]="true" [fieldValue]="denote.value" (remove)="onRemoveDenotes(index)"
              (selected)="onSelectDenote($event, index)"></app-autocomplete-checkbox>
          </form>
        </ng-template>
      </p-fieldset>
    </div>
    <div class="field col-12">
      <p-fieldset>
        <ng-template pTemplate="header">
          See also <button pButton pRipple icon="pi pi-plus" type="button"
            class="p-button-rounded p-button-success mx-2 fieldset-small" (click)="onAddSeeAlso()"></button>
        </ng-template>
        <ng-template pTemplate="content">
          <form formArrayName="seeAlso">
            <app-autocomplete-checkbox *ngFor="let sA of seeAlso.controls; index as index"
              [isChecked]="sA.value.external" [fieldValue]="sA.value" placeholderMsg="Search lexical entry"
              [filterFn]="lexEntryList" field="label" (selected)="onSelectLexEntry($event, index)"
              (remove)="onRemoveSeeAlso(index)"></app-autocomplete-checkbox>
          </form>
        </ng-template>
      </p-fieldset>
    </div>
  </form>
</div>
<app-popup-delete-item #popupDeleteItem></app-popup-delete-item>
