:host::ng-deep legend {
    width: auto;
    float: inherit;
    font-size: inherit;
    font-weight: 600;
}

.prefix {
    color: #4A73E2;
    font-weight: 650;
}

.language {
    color: #919191;
    font-weight: 500;
}

.target {
    font-weight: 650;
}