<div class="px-2 h-100 w-100">
  <div class="border-bottom mb-2 py-2">
    Annotazione
  </div>
  <div *ngIf="noneAnnotationIsSelected; else elseBlock" class="annotation-area none">
    Nessuna annotazione selezionata
    <!-- Nessuna annotazione selezionata {{ annotationModel?.layer }} -->
  </div>
  <ng-template #elseBlock>
    <div class="annotation-area">
      <form #annotationForm="ngForm" class="validated" (ngSubmit)="onSubmit(annotationForm)">
        <div class="form-group">
          <label>Layer</label>
          <div class="">
            <input class="form-control" type="text" [value]="annotationModel.layerName" disabled readonly>
            <input type="hidden" [ngModel]="(annotationModel.layer)" #layer="ngModel" name="layer">
          </div>
        </div>
        <div class="form-group">
          <label class="">Testo</label>
          <div class="">
            <input class="form-control" type="text" [value]="annotationModel.value" disabled>
            <input type="hidden" [ngModel]="(annotationModel.value)" #value="ngModel" name="value">
          </div>
        </div>
        <hr />
        <label class="w-100 text-center">Feature</label>
        <div *ngIf="emptyFeatures; else elseBlock" class="none py-3 mb-3">
          Nessuna feature
        </div>
        <ng-template #elseBlock>
          <div class="form-group" *ngFor="let feature of features">
              <label class="form-label">{{ feature.name }}</label>
              <div [ngSwitch]="feature.type" class="p-fluid">
                <div *ngSwitchCase="featureTypes.STRING">
                  <input #featureRef="ngModel" type="text" name="{{ feature.name }}" class="form-control" [(ngModel)]="feature.value"
                    maxlength="300" placeholder="{{ feature.placeholder }}" appWhitespacesValidator>
                  <div *ngIf="featureRef.invalid && (featureRef.touched || featureRef.dirty)" class="invalid-feedback">
                    <div *ngIf="featureRef.errors?.['isNotOnlyWhitespaces']">
                      {{ feature.name }} non può contenere solo spazi vuoti
                    </div>
                  </div>
                </div>
                <div *ngSwitchCase="featureTypes.TAGSET">
                  <p-dropdown #featureRef="ngModel" name="{{ feature.name }}" [(ngModel)]="feature.value"
                    placeholder="{{ feature.placeholder }}" [options]="feature.dropdownOptions" [filter]="true" [showClear]="true" [required]="false">
                    <ng-template pTemplate="empty">
                      Nessun elemento da selezione
                    </ng-template>
                    <ng-template pTemplate="emptyfilter">
                      Nessun elemento trovato
                    </ng-template>
                  </p-dropdown>
                </div>
                <div *ngSwitchCase="featureTypes.URI">
                  <p-dropdown #featureRef="ngModel" name="{{ feature.name }}" [(ngModel)]="feature.value"
                    placeholder="{{ feature.placeholder }}" [options]="feature.dropdownOptions" [filter]="true" [showClear]="true" [required]="false">
                    <ng-template pTemplate="empty">
                      Nessun elemento da selezione
                    </ng-template>
                    <ng-template pTemplate="emptyfilter">
                      Nessun elemento trovato
                    </ng-template>
                  </p-dropdown>
                </div>
              </div>
          </div>
        </ng-template>
        <div class="d-block" *ngIf="shouldBeEditable">
          <button pButton pRipple type="button" icon="pi pi-save" label="Salva" class="w-100 mb-2 p-button-sm" (click)="onSubmit(annotationForm)"></button>
          <button pButton pRipple type="button" icon="pi pi-times" label="Annulla" class="w-100 mb-2 p-button-sm p-button-secondary" (click)="onCancelBtn()"></button>
          <button pButton pRipple type="button" icon="fa-solid fa-eraser" label="Pulisci" class="w-100 mb-2 p-button-sm p-button-help" (click)="onClearBtn()"></button>
          <button pButton pRipple type="button" icon="pi pi-trash" label="Elimina" class="w-100 mb-2 p-button-sm p-button-danger" [disabled]="shouldBeDisabled" (click)="showDeleteModal()"></button>
        </div>
      </form>
    </div>
  </ng-template>
</div>

<app-popup-delete-item #popupDeleteItem></app-popup-delete-item>

