<div class="toolbar">

</div>

<div class="form-group row mx-0 px-0 justify-content-center">
  <label class="col-sm-2 col-form-label">Layer</label>
  <div class="col-sm-6">
    <div class="p-fluid">
      <p-dropdown #layer="ngModel" name="layer" appendTo="body" [(ngModel)]="selectedLayer"
        placeholder="Seleziona un layer" [options]="layerOptions" [filter]="true" [showClear]="true" (onChange)="onChangeLayerSelection($event)"  [required]="true">
      </p-dropdown>
      <div *ngIf="layer.invalid && (layer.touched || layer.dirty)" class="invalid-feedback">
        <div *ngIf="layer.errors?.['required']">
          Seleziona un layer
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mx-0">
  <div class="col-8" >
    <div class="text-container" [ngStyle]="{'height.px': textContainerHeight}">
      <div id="svg" [ngStyle]="{'height.px': svgHeight}" #svg>
        <svg class="text-editor" [attr.height]="svgHeight">
          <defs>

          </defs>
          <g class="background">
            <rect *ngFor="let row of rows; index as i" class="background" [ngClass]="{'background0': i%2, 'background1 bordered': !(i%2)}" [attr.height]="row.height" [attr.y]="row.yBG"></rect>
          </g>
          <g class="glow">

          </g>
          <g class="highlight">
            <g *ngFor="let row of rows">
              <g *ngFor="let line of row.lines;" [attr.y]="line.yHighlight" [attr.x]="line.x" [attr.height]="line.height! + 4" class="span">
                <g *ngFor="let h of line.highlights">
                  <rect [attr.x]="h.coordinates.x" [attr.y]="h.coordinates.y" [attr.height]="h.height" [attr.width]="h.width" [attr.fill]="h.bgColor" [attr.stroke]="h.bgColor" stroke-width="0px" rx="3px" ry="3px" stroke-linejoin="round"></rect>
                </g>
              </g>
            </g>
          </g>
          <g class="text">
            <text *ngFor="let row of rows; index as i" [attr.y]="row.yText" [attr.x]="row.xText" [attr.height]="row.height" (mouseup)="onSelectionChange($event)" style="white-space: pre;" [attr.start-ndex]="row.startIndex" [attr.end-index]="row.endIndex">
              <tspan *ngFor="let line of row.lines;" [attr.y]="line.yText" [attr.x]="line.x" [attr.height]="line.height" style="white-space: pre;" [attr.start-ndex]="line.startIndex" [attr.end-index]="line.endIndex">
                <tspan *ngFor="let w of line.words" [attr.y]="line.yText" style="white-space: pre;">{{w}}</tspan>
              </tspan>
            </text>
            <!-- <text *ngFor="let row of rows; index as i" [attr.y]="row.yText" [attr.x]="37" [attr.height]="row.height" (mouseup)="selectionchange($event)">{{row.text}}</text> -->
          </g>
          <!-- Generare n gruppi per archi e annotazioni -->
          <g>

          </g>
          <g *ngFor="let row of rows">
            <g *ngFor="let line of row.lines;" [attr.y]="line.yAnnotation" [attr.x]="line.x" class="span">
              <g *ngFor="let anns of line.annotationsTowers">
                <g *ngFor="let a of anns.tower">
                  <rect [attr.x]="a.startX" [attr.y]="a.y" [attr.height]="a.height" [attr.width]="a.width" [attr.fill]="a.bgColor" [attr.stroke]="a.color" (click)="openAnnotation(a.id)"></rect>
                  <text [attr.x]="a.textCoordinates.x" [attr.y]="a.textCoordinates.y" [ngStyle]="{'color': a.color}">{{a.text}}</text>
                </g>
                <path [attr.d]="anns.curlyPath" stroke-width="1px" stroke="gray" class="curly"></path>
              </g>
            </g>
          </g>
          <g>

          </g>
          <!-- -->
          <g class="sentnum unselectable">
            <text *ngFor="let row of rows; index as i" [attr.y]="row.ySentnum" [attr.x]="row.xSentnum" [attr.height]="row.height">
              {{i+1}}
            </text>
            <path [attr.d]="sentnumVerticalLine"></path>
          </g>
        </svg>
      </div>
    </div>
  </div>
  <div class="col-4 ps-0">
    <div class="text-container" [ngStyle]="{'height.px': textContainerHeight}">
      <app-annotation-editor [annotationModel]="annotation" [fileId]="textId" (onSave)="onAnnotationSaved()" (onDelete)="onAnnotationDeleted()" (onCancel)="onAnnotationCancel()"></app-annotation-editor>
    </div>
  </div>
</div>
