@import "../../../../assets/scss/variables";

.css-serial {
  counter-reset: serial-number;

  tr td {
    padding: .5rem 1rem;

    &:first-child {
      &::before {
        counter-increment: serial-number;
        content: counter(serial-number);
        display: flex;
        flex-wrap: wrap;
        align-content: center;
      }

      vertical-align: bottom;
      padding-right: .5rem;
    }

    &:last-child {
      padding-left: .5rem;
    }
  }
}

.arc text {
  font-size: var(--arc-font-size);
  text-anchor: middle;
  font-family: var(--arc-font-family);
}

.background0 {
  stroke: none;
  fill: #ffffff;
}

.background1 {
  stroke: none;
  fill: #eeeeee;
}

.drag_stroke {
  stroke: black;
}

.editor-container {
  overflow-y: auto;
  border: 1px solid $redPalette7;
}

.filtered {
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, .8));
}

.highlight rect {
  opacity: 0.3;

  &.over {
    opacity: 0.6;
  }
}

.span path.curly {
  /* stroke: grey; */
  stroke-width: 0.5;
}

.span path,
.arc path {
  fill: none;
}

.span text {
  font-size: var(--annotation-font-size);
  text-anchor: middle;
  font-family: var(--annotation-font-family);
  pointer-events: none;
}

.text-container {
  overflow-y: scroll;
  border: 1px solid $redPalette7;
}

.text-editor {
  width: 100%;

  rect.background {
    width: 100%;
  }
}

.sentnum {
  path {
    stroke: #999999;
    stroke-width: 1px;
  }

  text {
    fill: #999999;
    text-anchor: end;
  }
}

.text {
  font-family: var(--text-font-family);
  font-size: var(--text-font-size);
}

.text-container {
  overflow-y: scroll;
  border: 1px solid $redPalette7;
}

.text-editor {
  width: 100%;

  rect.background {
    width: 100%;
  }
}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: default;
}

path {
  pointer-events: none;
}

:host ::ng-deep .multiselect-custom {
  .p-multiselect-label {
    padding-top: .5rem;
    padding-bottom: .5rem;
  }

  .layer-item-value {
    border-style: solid;
    border-width: 1px;
    padding: .25rem .5rem;
    border-radius: 3px;
    display: inline-flex;
    margin-right: .5rem;
  }

  .layer-placeholder {
    padding: 0.25rem;
  }
}

:host ::ng-deep {
  @media screen and (max-width: 640px) {
    .p-multiselect {
      width: 100%;
    }
  }
}

* {
  box-sizing: border-box;
}

.container {
  margin: 0;
  padding: 0;
  width: 100%;
  display: inline-flex;
  max-width: none;
}

.normal-div {
  width: 33.33%;
  height: 100%;
  position: relative;
  float: left;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.expanded-div {
  width: 98%;
}

.compressed-div {
  width: 2%;
}

#div-1 {
  min-height: 400px;
  background-color: green;
}


a.expansion-btn {
  position: absolute;
  font-weight: bold;
  cursor: pointer;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

a.collapse-btn-left {
  position: absolute;
  font-weight: bold;
  top: 7px;
  right: 10px;
  cursor: pointer;
}

a.collapse-btn-right {
  position: absolute;
  font-weight: bold;
  top: 7px;
  left: 10px;
  cursor: pointer;
}

.form-group {
  margin-bottom: 0;
}