@import "../../../../assets/scss/variables";

.css-serial {
  counter-reset: serial-number;

  tr td {
    padding: .5rem 1rem;

    &:first-child {
      &::before {
        counter-increment: serial-number;
        content: counter(serial-number);
        display: flex;
        flex-wrap: wrap;
        align-content: center;
      }

      vertical-align: bottom;
      padding-right: .5rem;
    }

    &:last-child {
      padding-left: .5rem;
    }
  }
}

.text-container {
  overflow-y: auto;
  border: 1px solid $redPalette7;
}

/* ANNOTATION */
.text-editor {
  width: 100%;

  rect.background {
    width: 100%;
  }
}

.annotation-container {
  overflow-y: auto;
  border: 1px solid $redPalette7;
}

// BACKGROUND STRIPED
.background0 {
  stroke: none;
  fill: #ffffff;
}

.background1 {
  stroke: none;
  fill: #eeeeee;
}

.span text {
  font-size: var(--annotation-font-size);
  text-anchor: middle;
  // font-family: 'PT Sans Caption', sans-serif;
  font-family: var(--annotation-font-family);
  pointer-events: none;
}

.highlight rect {
  opacity: 0.3;
}

.span path.curly {
  /* stroke: grey; */
  stroke-width: 0.5;
}
.span path {
  fill: none;
}

.drag_stroke {
  stroke: black;
}

path {
  pointer-events: none;
}

.sentnum {
  path {
    stroke: #999999;
    stroke-width: 1px;
  }

  text {
    fill: #999999;
    text-anchor: end;
  }
}

.text {
  font-family: var(--text-font-family);
  font-size: var(--text-font-size);
}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: default;
}

/* fine ANNOTATION */

:host ::ng-deep .multiselect-custom {
  .p-multiselect-label {
    padding-top: .5rem;
    padding-bottom: .5rem;
  }

  .layer-item-value {
    border-style: solid;
    border-width: 1px;
    padding: .25rem .5rem;
    border-radius: 3px;
    display: inline-flex;
    margin-right: .5rem;
  }

  .layer-placeholder {
    padding: 0.25rem;
  }
}

:host ::ng-deep {
  @media screen and (max-width: 640px) {
    .p-multiselect {
      width: 100%;
    }
  }
}
