<div class="px-2 h-100 w-100">
  <div class="border-bottom mb-2 py-2">
    Relazione
  </div>
  <div *ngIf="noneRelationIsSelected; else elseBlock" class="relation-area none">
    Nessuna relazione selezionata
  </div>
  <ng-template #elseBlock>
    <div class="relation-area">
      <form #relationForm="ngForm" class="validated" (ngSubmit)="onSubmit(relationForm)">
        <div class="form-group">
          <label>Da</label>
          <div class="p-fluid">
            <div class="input-group mb-3">
              <span class="input-group-text" id="srcAnn-basic-addon" [ngStyle]="{'background-color': sourceLayer?.color+'4D'}">{{ sourceLayer?.name }}</span>
              <input class="form-control" type="text" [value]="sourceAnn.value" id="basic-srcAnnValue" aria-describedby="srcAnn-basic-addon" disabled readonly>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>A</label>
          <div class="p-fluid">
            <div class="input-group mb-3">
              <span class="input-group-text" id="targetAnn-basic-addon" [ngStyle]="{'background-color': targetLayer?.color+'4D'}">{{ targetLayer?.name }}</span>
              <input class="form-control" type="text" [value]="targetAnn.value" id="basic-targetAnnValue" aria-describedby="targetAnn-basic-addon" disabled readonly>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="form-label">Nome *</label>
          <div class="p-fluid">
            <input #name="ngModel" type="text" name="name" class="form-control" [(ngModel)]="relationModel.name"
              required maxlength="300" placeholder="Nome relazione">
            <div *ngIf="name.invalid && (name.touched || name.dirty)" class="invalid-feedback">
              <div *ngIf="name.errors?.['required']">
                Necessario inserire il nome della relazione
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="form-label">Descrizione</label>
          <div class="p-fluid">
            <input #description="ngModel" type="text" name="description" class="form-control" [(ngModel)]="relationModel.description"
              maxlength="300" placeholder="Descrizione">
          </div>
        </div>
        <div class="d-block">
          <button pButton pRipple type="button" icon="pi pi-save" label="Salva" class="w-100 mb-2 p-button-sm" (click)="onSubmit(relationForm)"></button>
          <button pButton pRipple type="button" icon="pi pi-times" label="Annulla" class="w-100 mb-2 p-button-sm p-button-secondary" (click)="onCancelBtn()"></button>
          <button pButton pRipple type="button" icon="fa-solid fa-eraser" label="Pulisci" class="w-100 mb-2 p-button-sm p-button-help"></button>
          <button pButton pRipple type="button" icon="pi pi-trash" label="Elimina" class="w-100 mb-2 p-button-sm p-button-danger" [disabled]="!isEditing" (click)="showDeleteModal()"></button>
        </div>
      </form>
    </div>
  </ng-template>
</div>

<app-popup-delete-item #popupDeleteItem></app-popup-delete-item>
