#searchInput{
    width:auto
}

div.grid.p-fluid.input-search {
  padding: 13px;
}

td:has(sub) {
    overflow-x: clip;
}

#lexiconUploaderForm {
  label,
  ::ng-deep p-autocomplete .p-component,
  ::ng-deep p-dropdown .p-component {
    width: 100%;
  }
}
