<p-panel iconPos="left" header="Filtri" [toggleable]="true">
    <div class="card">
        <div class="grid p-fluid">
            <div class="col-12 md:col-4">
                <div class="p-inputgroup">
                    <button pButton type="button" (click)="showDialog()" icon="pi pi-info-circle" ></button>    
                    <input
                    id="searchInput"
                    [(ngModel)]="searchTextInput"
                    type="text"
                    pInputText
                    size="50"
                    placeholder="*"
                    (keyup)="onChangeFilter()"
                />
                    <p-toggleButton [(ngModel)]="checked" (onChange)="handleButtonChange($event)" onLabel="Filtra" offLabel="Reset" onIcon="pi pi-search" offIcon="pi pi-times"></p-toggleButton>
                    <span class="font-weight-bold font-italic text-muted">{{counter}}</span>
                </div>
            </div>
        </div>
        <div class="inline-block w-4rem h-4rem p-field-radiobutton">
            <p-radioButton (click)="onChangeFilter()" name="searchMode" value="equals" [(ngModel)]="searchMode" inputId="equals"></p-radioButton>
            <label for="equals">Equals</label>
        </div>
        <div class="inline-block w-4rem h-4rem p-field-radiobutton">
            <p-radioButton (click)="onChangeFilter()" name="searchMode" value="startsWith" [(ngModel)]="searchMode" inputId="startsWith"></p-radioButton>
            <label for="startsWith">startsWith</label>
        </div>
        <div class="inline-block w-4rem h-4rem p-field-radiobutton">
            <p-radioButton (click)="onChangeFilter()" name="searchMode" value="contains" [(ngModel)]="searchMode" inputId="contains"></p-radioButton>
            <label for="contains">Contains</label>
        </div>
        <div class="inline-block w-4rem h-4rem p-field-radiobutton">
            <p-radioButton (click)="onChangeFilter()" name="searchMode" value="end" [(ngModel)]="searchMode" inputId="end"></p-radioButton>
            <label for="end">End</label>
        </div>
        <div class="inline-block w-4rem h-4rem">
            <p-dropdown (onChange)="onChangeFilter()" [options]="selectTypes" [(ngModel)]="selectedType" placeholder="Tipo" [showClear]="true"></p-dropdown>
            <p-dropdown (onChange)="onChangeFilter()" [options]="selectPartOfSpeech" [(ngModel)]="selectedPartOfSpeech" placeholder="Pos" [showClear]="true"
            [filter]="true" filterBy="label"></p-dropdown>
        </div>
        <div class="inline-block w-4rem h-4rem">
            <p-dropdown (onChange)="onChangeFilter()" [options]="selectLanguages" [(ngModel)]="selectedLanguage" placeholder="Lingua" [showClear]="true"></p-dropdown>
            <p-dropdown (onChange)="onChangeFilter()" [options]="selectAuthors" [(ngModel)]="selectedAuthor" placeholder="Autore" [showClear]="true"
            [filter]="true" filterBy="label"></p-dropdown>
        </div>
        <div class="inline-block w-4rem h-4rem">
            <p-dropdown (onChange)="onChangeFilter()" [options]="selectStatuses" [(ngModel)]="selectedStatus" placeholder="Status" [showClear]="true"></p-dropdown>
            <p-dropdown (onChange)="onChangeFilter()" [options]="selectEntries" [(ngModel)]="selectedEntry" placeholder="Entry" [showClear]="true"></p-dropdown>
        </div>
    </div>
</p-panel>
<p-treeTable #tt 
    selectionMode="single"
    dataKey="instanceName"
    [(selection)]="selectedNode"
    [value]="results"
    [columns]="cols"
    [lazy]="true" 
    (onLazyLoad)="loadNodes($event)"
    [loading]="loading"
    (onNodeSelect)="onNodeSelect($event)"
    (onNodeUnselect)="onNodeUnselect($event)"
    (onNodeExpand)="onNodeExpand($event)"
    [scrollable]="true">
        <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of cols">
            {{ col.header }}
            </th>
        </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
        <tr [ttSelectableRow]="rowNode">
            <td *ngFor="let col of cols; let i = index">
            <p-treeTableToggler
                [rowNode]="rowNode"
                *ngIf="i == 0"
            ></p-treeTableToggler>
            {{ rowData[col.field] }}
            </td>
        </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
        <tr>
            <td [attr.colspan]="cols.length">Nessun risultato</td>
        </tr>
        </ng-template>
  </p-treeTable>

  <p-dialog header="Search examples" [(visible)]="display" [modal]="true">
    <span><b>Multiple character wildcard search:</b></span> 
    <span><i>te*</i></span>
    <br><span><b>Single character wildcard search:</b></span>
    <span><i>te?t</i></span><br>
     <b>Fuzzy search:</b>
      <span><i>test~</i></span>
      <br><b>Weighted fuzzy search:</b>
      <span><i>test~0.8</i></span>
  </p-dialog>