<p-toolbar>
  <div class="p-toolbar-group-start">
    <p-toast></p-toast>
    <p-menu #menu [model]="languageItems" [popup]="true" appendTo="body"></p-menu>
    <!-- <button pButton pRipple icon="pi pi-plus" class="p-button-rounded p-button-success mx-2"
      (click)="onAddNewLexicalEntry()"></button> -->
    <button pButton pRipple icon="pi pi-plus" class="p-button-rounded p-button-success mx-2"
      (click)="menu.toggle($event)" pTooltip="Add lexical entry" tooltipPosition="bottom"></button>
    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger mx-2"
      [disabled]="selectedNodes.length === 0" (click)="onRemoveNodes()" pTooltip="Remove"
      tooltipPosition="bottom"></button>
  </div>
  <div class="p-toolbar-group-end">
    <button pButton pRipple icon="pi pi-file-import" class="p-button-rounded p-button-success mx-2"
      pTooltip="Upload CoNLL" tooltipPosition="bottom"
      (click)="isUploadLexiconVisible = !isUploadLexiconVisible"></button>
    <button pButton pRipple icon="pi pi-file-export" class="p-button-rounded mx-2" pTooltip="Export"
      tooltipPosition="bottom" [disabled]="demoHide"></button><!--TODO: DISABLED IN THE DEMO, remove demoHide as soon as development is complete-->
  </div>
</p-toolbar>
<div class="grid p-fluid input-search">
  <div class="flex card-container w-full">
    <div class="p-inputgroup">
      <p-button pTooltip="Refresh results" class="mr-2" icon="pi pi-spinner" [loading]="loading"
        (onClick)="loadNodes()"></p-button>
      <button #infoButton class="flex-none flex" pButton type="button" (click)="op.toggle($event)"
        icon="pi pi-info-circle"></button>
      <input id="searchInput" class="flex-grow-1 flex align-items-center justify-content-center"
        [(ngModel)]="searchTextInput" type="text" pInputText size="15" placeholder="*" (ngModelChange)="filter()"
        (keyup)="onChangeFilter()" />
      <button pButton pRipple type="button" icon="pi pi-filter-slash" pTooltip="Reset" class="p-button-secondary"
        (click)="reset()"></button>
      <span class="flex-none flex w-1 align-items-center justify-content-center font-weight-bold font-italic">
        {{counter}}</span>
    </div>
  </div>
</div>
<p-panel iconPos="left" header="Filters" [toggleable]="true" [collapsed]="true">
  <div class="flex flex-row">
    <div class="flex align-items-center justify-content-center m-3 field-radiobutton">
      <p-radioButton (click)="onChangeFilter()" name="searchMode" value="equals" [(ngModel)]="searchMode"
        inputId="equals"></p-radioButton>
      <label for="equals">Equals</label>
    </div>
    <div class="flex align-items-center justify-content-center m-3  field-radiobutton">
      <p-radioButton (click)="onChangeFilter()" name="searchMode" value="startsWith" [(ngModel)]="searchMode"
        inputId="startsWith"></p-radioButton>
      <label for="startsWith">StartsWith</label>
    </div>

  </div>
  <div class="flex flex-row">
    <div class="flex align-items-center justify-content-center m-3  field-radiobutton">
      <p-radioButton (click)="onChangeFilter()" name="searchMode" value="contains" [(ngModel)]="searchMode"
        inputId="contains"></p-radioButton>
      <label for="contains">Contains</label>
    </div>
    <div class="flex align-items-center justify-content-center m-3  field-radiobutton">
      <p-radioButton (click)="onChangeFilter()" name="searchMode" value="end" [(ngModel)]="searchMode"
        inputId="end"></p-radioButton>
      <label for="end">End</label>
    </div>
  </div>
  <div class="flex flex-row">
    <p-dropdown class="flex align-items-center justify-content-center m-2 " (onChange)="onChangeFilter()"
      [options]="(selectTypes$|async) || []" [(ngModel)]="selectedType" placeholder="Type" [showClear]="true">
    </p-dropdown>
    <p-dropdown class="flex align-items-center justify-content-center m-2 " (onChange)="onChangeFilter()"
      [options]="(selectPartOfSpeech$ |async)|| []" [(ngModel)]="selectedPartOfSpeech" placeholder="Pos"
      [showClear]="true" [filter]="true" filterBy="label">
    </p-dropdown>
    <p-dropdown class="flex align-items-center justify-content-center m-2 " (onChange)="onChangeFilter()"
      [options]="(selectLanguages$|async)||[]" [(ngModel)]="selectedLanguage" placeholder="Language" [showClear]="true">
    </p-dropdown>
  </div>
  <div class="flex flex-row">
    <p-dropdown class="flex align-items-center justify-content-center m-2 " (onChange)="onChangeFilter()"
      [options]="(selectAuthors$|async) || []" [(ngModel)]="selectedAuthor" placeholder="Author" [showClear]="true"
      [filter]="true" filterBy="label">
    </p-dropdown>
    <p-dropdown class="flex align-items-center justify-content-center m-2 " (onChange)="onChangeFilter()"
      [options]="(selectStatuses$ | async) || []" [(ngModel)]="selectedStatus" placeholder="Status" [showClear]="true">
    </p-dropdown>
    <p-dropdown class="flex align-items-center justify-content-center m-2 " (onChange)="onChangeFilter()"
      [options]="selectEntries" [(ngModel)]="selectedEntry" placeholder="Entry" [showClear]="true">
    </p-dropdown>
  </div>
</p-panel>

<div class="flex justify-content-end">
  <button pButton pRipple type="button" icon="pi pi-check-square" class="p-button-rounded p-button-text m-2"
    pTooltip="Selection" (click)="onChangeSelectionView()"></button>
</div>

<p-treeTable #tt selectionMode="checkbox" dataKey="instanceName" [(selection)]="selectedNodes" [value]="results"
  [columns]="cols" [lazy]="true" (onLazyLoad)="loadNodes()" [loading]="loading" (onNodeExpand)="onNodeExpand($event)"
  [scrollable]="true" scrollHeight="flex">
  <ng-template pTemplate="colgroup" let-columns>
    <colgroup>
      <col *ngFor="let col of columns" [style.width]="col.width" [style.display]="col.display">
    </colgroup>
  </ng-template>
  <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
    <tr (dblclick)="lexicalEntryDoubleClickHandler($event, rowNode)">
      <td *ngFor="let col of cols; let i = index">
        <p-treeTableToggler [rowNode]="rowNode" *ngIf="i == 0"></p-treeTableToggler>
        <p-treeTableCheckbox [value]="rowNode" *ngIf="i == 0 && isVisibleCheckbox"></p-treeTableCheckbox>
        <app-icon-lock *ngIf="col.field === 'status' && rowData[col.field]"
          [status]="rowData[col.field]"></app-icon-lock>
        <app-icon-note *ngIf="col.field ==='note' && rowData[col.field]"></app-icon-note>
        <app-icon-author *ngIf="col.field === 'creator' && rowData['creator']" [isBot]="false"
          [tooltip]="'<em>Author</em>: '+rowData['creator']+'<br><em>Creation date</em>: '+ rowData['creationDate']+'<br><em>Last update</em>: '+ rowData['lastUpdate']"></app-icon-author><!--TODO migliorare la creazione del tooltip-->
        <span *ngIf="col.field === 'name' && rowData['type'] == LexicalEntryType.LEXICAL_ENTRY">{{
          rowData[col.field] }}</span>
        <span *ngIf="col.field === 'name' && rowData['type'] !== LexicalEntryType.LEXICAL_ENTRY"
          [pTooltip]="rowData['sub']" tooltipPosition="bottom"
          [style.fontWeight]="rowData['isCanonical'] ? 'bold' : ''">{{ rowData[col.field] }}</span>
        <sub *ngIf="col.field === 'name' && rowData['type'] == LexicalEntryType.LEXICAL_ENTRY">{{rowData['sub']}}</sub>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td [attr.colspan]="cols.length">No result</td>
    </tr>
  </ng-template>
</p-treeTable>

<p-overlayPanel #op [dismissable]="true">
  <ng-template pTemplate>
    <h3>Search examples</h3>
    <br>
    <span><b>Multiple character wildcard search:</b></span>
    <span><i>te*</i></span>
    <br><span><b>Single character wildcard search:</b></span>
    <span><i>te?t</i></span><br>
    <b>Fuzzy search:</b>
    <span><i>test~</i></span>
    <br><b>Weighted fuzzy search:</b>
    <span><i>test~0.8</i></span>
  </ng-template>
</p-overlayPanel>

<p-dialog [(visible)]="isUploadLexiconVisible" [style]="{ width: '40vw' }">
  <ng-template pTemplate="header">
    <h5 class="modal-title">Import a new lexicon</h5>
  </ng-template>
  <ng-template pTemplate="content">
    <div class="modal-content">
      <form #lexiconUploaderForm="ngForm" id="lexiconUploaderForm" class="validated">
        <div class="formgrid grid">
          <div class="field col-6">
            <label for="language">Language *</label>
            <p-autoComplete #language="ngModel" name="language" [(ngModel)]="selectedUploadLanguage"
              [suggestions]="(filteredLanguages$ | async) || []" field="label" (completeMethod)="filterLanguage($event)"
              [required]="true" appendTo="body"></p-autoComplete>
          </div>
          <div class="field col-6">
            <label class="form-label">Overwrite</label>
            <p-inputSwitch #drop="ngModel" name="drop" [(ngModel)]="isOverwriteLexicon"></p-inputSwitch>
          </div>
          <div class="form-group field col-6">
            <label class="form-label">Prefix *</label>
            <p-autoComplete #prefix="ngModel" name="prefix" [(ngModel)]="selectedUploadPrefix"
              [suggestions]="filteredPrefix" (completeMethod)="filterPrefix($event)"
              (onSelect)="onSelectPrefixBaseIRI($event, true)" [required]="true" appendTo="body"></p-autoComplete>
          </div>
          <div class="form-group field col-6">
            <label class="form-label">Base IRI *</label>
            <p-autoComplete #baseIRI="ngModel" name="baseIRI" [(ngModel)]="selectedBaseIRI" [suggestions]="filteredBase"
              (completeMethod)="filterBase($event)" (onSelect)="onSelectPrefixBaseIRI($event, false)"
              [required]="true" appendTo="body"></p-autoComplete>
          </div>
          <div class="field col-6">
            <label class="form-label">Author *</label>
            <input type="text" #author="ngModel" name="author" class="form-control" [(ngModel)]="inputAuthor" required>
          </div>
          <div class="form-group field col-6">
            <label class="form-label">Choose file *</label>
            <input #uploadFile="ngModel" name="uploadFile" [(ngModel)]="selectedFile" type="file" class="form-control"
              id="lexiconUploader" required accept=".tsv" (change)="onSelectFile($event)">
          </div>
        </div>
      </form>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="isUploadLexiconVisible = false">
        Cancel
      </button>
      <button type="button" class="btn btn-primary" (click)="onUploadNewLexicon()">
        Ok
      </button>
    </div>
  </ng-template>
</p-dialog>
<app-popup-delete-item #popupDeleteItem></app-popup-delete-item>
