<div class="card">
    <p-orderList [value]="sortingTrees" [listStyle]="{ height: '100%' }">
        <ng-template let-sortingTree pTemplate="item">
            <p-tree [value]="[sortingTree]" [draggableNodes]="true" [droppableNodes]="true" [validateDrop]="true"
                (onNodeDrop)="onDrop($event)" [droppableScope]="sortingTree.key" [draggableScope]="sortingTree.key">
                <ng-template let-item pTemplate="lexicalEntry" draggable="false">
                    <div><strong>{{item.label}}<sub class="ml-2">{{item.data.suffix.join(' ')}}</sub></strong></div>
                </ng-template>
                <ng-template let-item pTemplate="sense">
                    <div><span class="mr-2">{{item.index}}</span><em *ngIf="item.data.prefix.length>0">[{{item.data.prefix.join(' ')}}]</em> {{item.label}}
                    </div>
                </ng-template>
            </p-tree>
        </ng-template>
    </p-orderList>
    <div class="w-full d-flex justify-content-around">
        <button type="button" aria-label="Save" class="sorting-button" pButton pRipple icon="pi pi-save" (click)="onSaveUpdate()" label="Save"></button>
        <button type="button" aria-label="Restore" class="sorting-button p-button-secondary" pButton pRipple icon="pi pi-times" (click)="onRestore()" label="Restore"></button>
    </div>
</div>