<div class="grid">
  <div class="col-12">
    <div class="card">
      <div class="page-header">
        <h5>Master data</h5>
        <p-button label="New user" icon="pi pi-user-plus" styleClass="p-button-danger" (click)="goToNewUser()"
          class="ms-start"></p-button>
      </div>
      <p-table #dt [value]="users" [rowHover]="true" [responsive]="true" [scrollable]="false" [paginator]="true"
        [rows]="5" [rowsPerPageOptions]="[5,10,20]" selectionMode="single" dataKey="id" styleClass="p-datatable-striped"
        responsiveLayout="scroll" (onRowSelect)="goToEditUser($event)">
        <ng-template pTemplate="header">
          <tr>
            <th>#</th>
            <th pSortableColumn="username">Username</th>
            <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
            <th pSortableColumn="surname">Surname <p-sortIcon field="surname"></p-sortIcon></th>
            <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>
            <th pSortableColumn="role">Role <p-sortIcon field="role"></p-sortIcon></th>
            <th pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon></th>
            <th class="text-center">Details</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user columns="col" let-i="rowIndex">
          <tr [pSelectableRow]="user">
            <td>{{ i+1 }}</td>
            <td>{{user.username}}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.surname }}</td>
            <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
            <td>{{ user.role }}</td>
            <td>{{ user.active ? 'ACTIVE' : 'INACTIVE' }}</td>
            <td class="text-center">
              <button pButton pRipple type="button" icon="pi pi-user-edit"
                class="p-button-rounded p-button-danger p-button-text" (click)="goToEditUserById(user.id)">
              </button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="7">No user found</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>