<div class="layout-topbar">
    <a class="p-link layout-menu-button layout-topbar-icon-button" href="#" (click)="layout.toggleMenu($event)">
      <i class="pi pi-bars"></i>
    </a>

    <a class="layout-topbar-logo" routerLink="">
      <i class="pi"></i>
      <span>Project X</span>
    </a>

    <a class="p-link layout-topbar-menu-button layout-topbar-button" href="#" (click)="layout.toggleTopMenu($event)">
      <i class="pi pi-ellipsis-v"></i>
    </a>

    <div class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active':layout.topMenuActive}">
      <a href="#" class="p-link layout-topbar-button">
        <i class="pi pi-user"></i>
        <span>Profile</span>
      </a>
      <a href="#" class="p-link layout-topbar-icon-button" (click)="logout()">
        <i class="pi pi-sign-out"></i>
        <span>Logout</span>
      </a>
    </div>
</div>
