<div class="grid">
    <div class="col-12">
      <div class="card">
        <div class="page-header">
          <h5>System Information</h5>
        </div>
        <div class="card-body p-fluid">
        <!--TODO add p-table with versions data-->
          <!-- <p-table [value]="(tagsets$|async)||[]" [rows]="10" [paginator]="true" [rowHover]="true" dataKey="id"
            currentPageReportTemplate="Elements {first} to {last} for a total of {totalRecords} elements"
            [responsive]="true" responsiveLayout="scroll" [showCurrentPageReport]="true">
            <ng-template pTemplate="header">
              <tr>
                <th pSortableColumn="name">Name<p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="description">Description<p-sortIcon field="description"></p-sortIcon></th>
                <th></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-tagset let-i="rowIndex">
              <tr>
                <td>{{tagset.name}}</td>
                <td>{{tagset.description}}</td>
                <td>
                  <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mx-2"
                    (click)="onEdit(tagset)"></button>
                    <button pButton pRipple icon="fa-solid fa-layer-group" class="p-button-rounded p-button-info mx-2"
                    (click)="onEditTagsetItems(tagset)"></button>
            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger mx-2"
                    (click)="onDelete(tagset)"></button>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="summary">
              <div class="p-d-flex p-ai-center p-jc-between">
                In total there are {{ tagsetTotal$|async }} tagsets.
              </div>
            </ng-template>
          </p-table> -->
        </div>
      </div>
    </div>
  </div>
  