<div class="grid">
    <div class="col-12">
      <div class="card">
        <div class="page-header">
          <h5>System Information</h5>
        </div>
        <div class="card-body p-fluid">
        <!--TODO add p-table with versions data-->
          <p-table [value]="versionsList" [rows]="10" [paginator]="true" [rowHover]="true" dataKey="id"
            currentPageReportTemplate="Elements {first} to {last} for a total of {totalRecords} elements"
            [responsive]="true" responsiveLayout="scroll" [showCurrentPageReport]="true">
            <ng-template pTemplate="header">
              <tr>
                <th pSortableColumn="name">Name<p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="description">Version<p-sortIcon field="version"></p-sortIcon></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item let-i="rowIndex">
              <tr>
                <td>{{item.name}}</td>
                <td>{{item.version}}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
  