<div class="grid">
	<div class="col-12">
		<div class="card">
            <div class="page-header">
                <h5>Workspace</h5>
                <p-button label="Nuovo workspace" icon="pi pi-desktop" styleClass="p-button-danger" (click)="goToNewWorkspace()" class="ms-start"></p-button>
            </div>
            <div class="card">
                <p-table #dt [value]="workspaces" [rows]="10" [paginator]="true" [globalFilterFields]="['name','country.name','representative.name','status']"
                [rowHover]="true" dataKey="id"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-ai-center p-jc-between">
<!--                        <h5 class="p-m-0">Manage workspaces</h5>
                         <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
                        </span> -->
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="title">Titolo <p-sortIcon field="title"></p-sortIcon></th>
                        <th pSortableColumn="preview">Estratto <p-sortIcon field="preview"></p-sortIcon></th>
                        <th pSortableColumn="lastAccess">Ultimo accesso <p-sortIcon field="lastAccess"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-workspace>
                    <tr>
                        <td>{{workspace.title}}</td>
                        <td>{{workspace.textPreview}}</td>
                        <td>{{workspace.lastAccess}}</td>
                        <td>
                            <button pButton pRipple icon="pi pi-desktop" class="p-button-rounded p-button-rounded p-button-lg p-mr-2 mx-2" (click)="goToWorkspace(workspace.id)"></button>
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2 mx-2" (click)="editWorkspace(workspace)"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning mx-2" (click)="deleteWorkspace(workspace)"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        In total there are {{workspaces ? workspaces.length : 0 }} workspaces.
                    </div>
                </ng-template>
            </p-table>
            </div>
		</div>
	</div>
</div>