<p-splitter [style]="{'min-height': '100%'}" [panelSizes]="[40,60]" [minSizes]="[20,40]">
    <ng-template pTemplate>
        <p-treeTable #tt selectionMode="single" dataKey="instanceName" [(selection)]="selectedNode"
            [value]="lexicalEntryTree" [columns]="cols" [lazy]="true" [loading]="loading" scrollHeight="100vh"
            [scrollable]="true" (onNodeExpand)="onNodeExpand($event)" (onNodeSelect)="onNodeSelect($event)">
            <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                    <col *ngFor="let col of columns" [style.width]="col.width" [style.display]="col.display">
                </colgroup>
            </ng-template>
            <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
                <tr [ttSelectableRow]="rowNode">
                    <td *ngFor="let col of cols; let i = index">
                    <p-treeTableToggler
                        [rowNode]="rowNode"
                        *ngIf="i == 0"
                    ></p-treeTableToggler>
                        <app-icon-lock *ngIf="col.field === 'status' && rowData[col.field]" [status]="rowData[col.field]"></app-icon-lock>
                        <app-icon-note *ngIf="col.field ==='note' && rowData[col.field]"></app-icon-note>
                        <app-icon-author *ngIf="col.field === 'creator' && rowData['creator']" [isBot]="false"
                            [tooltip]="'<em>Autore</em>: '+rowData['creator']+'<br><em>Creato il</em>: '+ rowData['creationDate']+'<br><em>Ultima modifica</em>: '+ rowData['lastUpdate']"></app-icon-author> <!--TODO migliorare-->
                        <span *ngIf="col.field === 'name'">{{ rowData[col.field] }}</span>
                        <sub *ngIf="col.field === 'name' && (rowData['type'] == LexicalEntryType.LEXICAL_ENTRY || rowData['type'] == LexicalEntryType.FORM)">{{rowData['sub']}}</sub>
                    </td>
                </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                <tr>
                    <td [attr.colspan]="cols.length">Nessun risultato</td>
                </tr>
                </ng-template>
                </p-treeTable>
    </ng-template>
    <ng-template pTemplate>
        <app-lexical-entry-editor *ngIf="showLexicalEntryEditor" [instanceName]="lexicalEntryInstanceName"></app-lexical-entry-editor>
        <app-form-editor *ngIf="showFormEditor" [instanceName]="formInstanceName"></app-form-editor>
        <app-sense-editor *ngIf="showSenseEditor" [instanceName]="senseInstanceName"></app-sense-editor>
    </ng-template>
</p-splitter>