<p-fieldset>
    <ng-template pTemplate="header">{{'ONTOLOGY.VIEWER.description'|translate}}</ng-template>
    <ng-template pTemplate="content">
        <div class="card-container">
            <div class="block fieldTitle">{{'ONTOLOGY.VIEWER.DESCRIPTION.equivalentTo'|translate}}</div>
            <div class="ontology-dot ml-4"></div>
            <div class="inline-block text-center axiom">resultingFrom only PROCEDE_VISCOSE</div>
        </div>
        <p-divider></p-divider>

        <div class="card-container">
            <div class="block fieldTitle">{{'ONTOLOGY.VIEWER.DESCRIPTION.subclassOf'|translate}}</div>
            <div class="ontology-dot ml-4"></div>
            <div class="inline-block text-center axiom">ID4_FRIBRANNE_1</div>
        </div>
        <p-divider></p-divider>

        <div class="card-container">
            <div class="block fieldTitle">{{'ONTOLOGY.VIEWER.DESCRIPTION.generalClassAxioms'|translate}}</div>
            <div class="ontology-dot ml-4"></div>
            <div class="inline-block text-center axiom"></div>
        </div>
        <p-divider></p-divider>
        
        <div class="card-container">
            <div class="block fieldTitle">{{'ONTOLOGY.VIEWER.DESCRIPTION.subClassOfAnonymousAncestor'|translate}}</div>
            <div class="ontology-dot ml-4"></div>
            <div class="inline-block text-center axiom">hasForm only FIBRES_COURTES</div>
            <div class="inline-block text-center axiom">madeOf only CELLULOSE</div>
            <div class="inline-block text-center axiom">resultingFrom only TRAITEMENT_CHIMIQUE</div>
        </div>
        <p-divider></p-divider>
        <div class="card-container">
            <div class="block fieldTitle">{{'ONTOLOGY.VIEWER.DESCRIPTION.instances'|translate}}</div>
            <div class="ontology-individual-rhombus ml-4"></div>
            <div class="inline-block text-center axiom">id5</div>
        </div>
        <p-divider></p-divider>
        <div class="card-container">
            <div class="block fieldTitle">{{'ONTOLOGY.VIEWER.DESCRIPTION.targetForKey'|translate}}</div>
            <div class="ontology-dot ml-4"></div>
            <div class="inline-block text-center axiom"></div>
        </div>
        <p-divider></p-divider>
        <div class="card-container">
            <div class="block fieldTitle">{{'ONTOLOGY.VIEWER.DESCRIPTION.disjointWith'|translate}}</div>
            <div class="ontology-dot ml-4"></div>
            <div class="inline-block text-center axiom"></div>
        </div>
        <p-divider></p-divider>
        <div class="card-container">
            <div class="block fieldTitle">{{'ONTOLOGY.VIEWER.DESCRIPTION.disjointUnionOf'|translate}}</div>
            <div class="ontology-dot ml-4"></div>
            <div class="inline-block text-center axiom"></div>
        </div>
        <p-divider></p-divider>
    </ng-template>
</p-fieldset>