:host::ng-deep legend {
    width: auto;
    float: inherit;
    font-size: inherit;
    font-weight: 600;
}

.fieldTitle {
    color: #919191;
    font-weight: 500;
}

.axiom{
    font-weight: 650;
}