<div class="grid">
  <div class="col-12">
    <div class="card">
      <div class="page-header">
        <h5 style="border-radius: 3px">
          {{ (ttagsetName|async)||'' }}
        </h5>
        <div class="button-group-actions">
          <button pButton pRipple label="Back to list" icon="pi pi-arrow-left" class="p-button-secondary"
            (click)="backToList()"></button>
        </div>
      </div>
      <div class="card-body p-fluid">
        <div class="row row-cols-1 row-cols-md-3">
          <div class="col">
            <label class="header-label">Name</label>
            <p>{{(ttagsetName|async)||''}}</p>
          </div>
          <div class="col">
            <label class="header-label">Description</label>
            <p>{{(ttagsetDescription|async)||''}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row px-0">
  <div class="col-12">
    <div class="card">
      <div class="card-body p-fluid">
        <div class="form-group">
          <div class="d-flex align-items-center justify-content-between mb-2 w-auto">
            <label class="form-label">Values</label>
            <button pButton pRipple type="button" label="New value" icon="pi pi-plus" class="w-auto"
              (click)="showTagsetValueModal()"></button>
          </div>
          <div class="p-fluid">
            <p-table [value]="(ttagsetItems$|async)||[]" [rows]="10" [paginator]="true" [rowHover]="true" dataKey="id"
              currentPageReportTemplate="Elements {first} to {last} for a total of {totalRecords} elements"
              [responsive]="true" responsiveLayout="scroll" [showCurrentPageReport]="true">
              <ng-template pTemplate="header">
                <tr>
                  <th pSortableColumn="name">Name<p-sortIcon field="name"></p-sortIcon></th>
                  <th pSortableColumn="description">Description<p-sortIcon field="description"></p-sortIcon></th>
                  <th></th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-value let-i="rowIndex">
                <tr>
                  <td>{{value.name}}</td>
                  <td>{{value.description}}</td>
                  <td>
                    <button pButton pRipple type="button" icon="pi pi-pencil"
                      class="p-button-rounded p-button-success mx-2" (click)="showEditValueModal(value)"></button>
                    <button pButton pRipple type="button" icon="pi pi-trash"
                      class="p-button-rounded p-button-danger mx-2" (click)="showDeleteValueModal(value)"></button>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog [header]="newEditTitle" class="modal" [(visible)]="visibleEditNewTagsetItem" [modal]="true"
  [style]="{ minWidth: '30vw', maxWidth: '50vw' }" appendTo="body">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form id="tagsetValueForm" class="validated" [formGroup]="tagsetItemForm" (ngSubmit)="onSubmitTagsetValueModal()">
        <div class="modal-body">
          <div class="cross-validation"
            [class.cross-validation-error]="name.errors?.['tagsetValueNotDuplicateName'] && (name.touched || name.dirty)">
            <div class="form-group">
              <label class="form-label">Name *</label>
              <div class="p-fluid">
                <input type="text" name="name" class="form-control" formControlName="name" maxlength="300"
                  placeholder="Tagset value name">
                <div *ngIf="name.invalid && (name.touched || name.dirty)" class="invalid-feedback">
                  <div *ngIf="name.errors?.['required']">
                    Need to enter the name of the tagset value
                  </div>
                  <div *ngIf="name.errors?.['isNotOnlyWhitespaces']">
                    Tagset value name cannot contain only blanks
                  </div>
                </div>
                <div *ngIf="name.errors?.['tagsetValueNotDuplicateName']" class="invalid-feedback">
                  There already exists a value with this name
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="form-label">Description</label>
            <div class="p-fluid">
              <textarea rows="3" formControlName="description" type="text" name="description"
                class="form-control"></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="visibleEditNewTagsetItem=false;">
            Cancel
          </button>
          <button type="submit" class="btn btn-primary" [disabled]="name.invalid || name.value ===''">
            <span *ngIf="isTagsetValueEditing; else elseBlock">
              Update
            </span>
            <ng-template #elseBlock>
              <span>Add</span>
            </ng-template>
          </button>
        </div>
      </form>
    </div>
  </div>
</p-dialog>

<app-popup-delete-item #popupDeleteItem></app-popup-delete-item>
