.fieldset-small {
    height: 1.5rem !important;
    width: 1.5rem;
}

:host::ng-deep legend {
    width: auto;
    float: inherit;
    font-size: inherit;
    font-weight: 600;
}

:host::ng-deep .highlight {
    background-color: yellow;
    color: black;
    font-weight: bold;
    padding: 2px 4px;
    display: inline-block;
}

:host::ng-deep .p-editor-container .p-editor-toolbar {
    background: #ffffff;
}

:host::ng-deep .p-editor-container .p-editor-toolbar.ql-snow {
    border: none;
    padding: 0px;
    margin-bottom: 0.25rem !important;
}

:host::ng-deep .ql-toolbar.ql-snow + .ql-container.ql-snow {
    border-top: 1px solid #dee2e6;
}