// ::ng-deep.p-menuitem {
//   box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
//   border-radius: 6px;
// }
#workspace-menu {
  h3.px-4 {
    color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: 500;
  }

  fa-icon:hover {
    color: var(--primary-color);
  }

  ::ng-deep.p-menubar {
    background-color: white;
  }

  ::ng-deep.p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-link:not(.p-disabled):hover {
    background-color: #FCDBDA;
    color: var(--primary-color);
    border-radius: 12px;
  }
}
