:host ::ng-deep {
  .p-tree {
    margin: 0 1rem;
  }

  .p-tree-container p-treenode .pi.pi-trash:before {
    color: #dc3545;
  }
}

.corpus-tree-container {
  height: calc(100% - 70px);
  overflow-y: scroll;
}