<div class="grid">
  <div class="col-12">
    <div class="card">
      <div class="page-header">
        <h5>Layer manager</h5>
        <p-button label="New layer" icon="fa-solid fa-layer-group" styleClass="p-button-danger"
          (click)="showLayerModal()" class="ms-start"></p-button>
      </div>
      <div class="card-body p-fluid">
        <p-table #dt [value]="(layers$|async)||[]" [rows]="10" [paginator]="true" [rowHover]="true" dataKey="id"
          currentPageReportTemplate="Elements {first} to {last} for a total of {totalRecords} elements"
          [responsive]="true" responsiveLayout="scroll" [showCurrentPageReport]="true"
          [globalFilterFields]="['name','color','description']">
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="name">Name<p-sortIcon field="name"></p-sortIcon>
              </th>
              <th pSortableColumn="color">Color<p-sortIcon field="color"></p-sortIcon>
              </th>
              <th pSortableColumn="description">Description<p-sortIcon field="description"></p-sortIcon>
              </th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="caption">
            <div class="flex">
              <span class="p-input-icon-left ml-auto">
                <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                  placeholder="Search" />
              </span>
            </div>
          </ng-template>
          <ng-template pTemplate="body" let-layer let-i="rowIndex">
            <tr>
              <td>{{layer.name}}</td>
              <td>
                <p-colorPicker [(ngModel)]="layer.color" [disabled]="true"></p-colorPicker>
              </td>
              <td>{{layer.description}}</td>
              <td>
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2 mx-2"
                  (click)="showEditLayerModal(layer)"></button>
                <button pButton pRipple icon="fa-solid fa-layer-group" class="p-button-rounded p-button-info mx-2"
                  (click)="viewLayerFeatures(layer)"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger mx-2"
                  (click)="showDeleteLayerModal(layer)"></button>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
              In total there are {{(layers$|async)?.length}} layers.
            </div>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>

<p-dialog [header]="modalTitle" class="modal" [(visible)]="visibleEditNewLayer" [modal]="true"
  [style]="{ minWidth: '30vw', maxWidth: '50vw' }" appendTo="body">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form (ngSubmit)="onSubmitLayerModal()" [formGroup]="tlayerForm" id="layerForm" class="validated">
        <div class="modal-body">
          <div class="form-group">
            <label class="form-label">Name *</label>
            <div class="p-fluid">
              <input formControlName="name" type="text" name="name" class="form-control" autofocus maxlength="300"
                placeholder="Layer name">
              <div *ngIf="name.invalid && (name.touched || name.dirty)" class="invalid-feedback">
                <div *ngIf="name.errors?.['required']">
                  Name is mandatory
                </div>
                <div *ngIf="name.errors?.['isNotOnlyWhitespaces']">
                  The layer name cannot contain only blanks
                </div>
                <div *ngIf="name.errors?.['notDuplicateName']">
                  A layer with this name already exists
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="form-label">Color *</label>
            <div class="p-fluid">
              <p-colorPicker formControlName="color" name="color" class="nopacity"></p-colorPicker>
              <div *ngIf="color.invalid && (color.touched || color.dirty)" class="invalid-feedback">
                <div *ngIf="color.errors?.['required']">
                  Color is mandatory
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="form-label">Description</label>
            <div class="p-fluid">
              <textarea rows="3" type="text" name="description" class="form-control"
                formControlName="description"></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="visibleEditNewLayer = false;layerOnEdit=undefined;">
            Cancel
          </button>
          <button type="submit" class="btn btn-primary"
            [disabled]="tlayerForm.invalid || name.value === '' || color.value === ''">
            {{layerOnEdit!==undefined ? 'Update' : 'Add'}}
          </button>
        </div>
      </form>
    </div>
  </div>
</p-dialog>

<app-popup-delete-item #popupDeleteItem></app-popup-delete-item>
