<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">
      <div class="form-group">
        <label for="name">Nome</label>
        <input type="text" [(ngModel)]="user.name"
               class="form-control"
               id="name"
               name="name"
               placeholder="Inserisci il tuo nome"
               required #name="ngModel">
      </div>
      <div [hidden]="!name.pristine" class="alert alert-danger">Il nome è obbligatorio</div>
      <div class="form-group">
        <label for="surname">Cognome</label>
        <input type="text" [(ngModel)]="user.surname"
               class="form-control"
               id="surname"
               name="surname"
               placeholder="Inserisci il tuo cognome"
               required #name="ngModel">
      </div>
      <div [hidden]="!name.pristine" class="alert alert-danger">Il cognome è obbligatorio</div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" [(ngModel)]="user.email"
               class="form-control"
               id="email"
               name="email"
               placeholder="Inserisci il tuo indirizzo email"
               required #email="ngModel">
        <div [hidden]="!email.pristine" class="alert alert-danger">L'email è obbligatoria</div>
      </div>
      <div class="form-group">
        <label for="role">Ruolo</label><br>
        <select (change)="onRoleChanged($event)">
          <option *ngFor="let role of roles" (ngValue)="role">{{role}}</option>
        </select>
    </div>
      <div [hidden]="!name.pristine" class="alert alert-danger">Il ruolo è obbligatorio</div>
      <button type="submit" [disabled]="!userForm.form.valid"
              class="btn btn-info">Submit</button>
    </form>
  </div>
</div>
