<app-annotations-field [dataResults]="dataResults"></app-annotations-field>
<div class="field col-12">
    <p-fieldset>
        <ng-template pTemplate="header">{{'ONTOLOGY.VIEWER.description'|translate}}</ng-template>
        <ng-template pTemplate="content">
            <div class="d-flex justify-content-between">
                <div class="field col-2">
                </div>
                <div class="field col-3">
                </div>
                <div class="field col-7">
                </div>
            </div>
        </ng-template>
    </p-fieldset>
</div>