<p-toolbar>
    <div class="p-toolbar-group-start">
      <p-toast></p-toast>
      <button [disabled]="true" class="btn btn-outline-success rounded-circle mx-2" [pTooltip]="'ONTOLOGY_CLASS_VIEWER.addChild'|translate" tooltipPosition="bottom">
        <i class="pi pi-plus"></i>
      </button>
      <button [disabled]="true" class="btn btn-outline-success rounded-circle mx-2" [pTooltip]="'ONTOLOGY_CLASS_VIEWER.addSibling'|translate" tooltipPosition="bottom">
        <i class="pi pi-plus"></i>
      </button>
      <button class="btn btn-outline-danger rounded-circle mx-2"
        [disabled]="true" pTooltip="Remove"
        tooltipPosition="bottom">
        <i class="pi pi-trash"></i>
      </button>
    </div>
  </p-toolbar>
  <div [ngStyle]="{'height': (panelHeight - 120)+'px'}">
    <p-treeTable [value]="files" 
                 [columns]="cols" 
                 [lazy]="true" 
                 scrollHeight="flex"
                 [scrollable]="true" 
                 
                 (onLazyLoad)="loadNodes($event)" 
                 [totalRecords]="1000" 
                 [loading]="loading" 
                 selectionMode="checkbox"
                 dataKey="instanceName" 
                 [(selection)]="selectedNodes" 
                 [value]="results"
                 (onNodeExpand)="onNodeExpand($event)">
      <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col *ngFor="let col of columns" [style.width]="col.width" [style.display]="col.display">
          </colgroup>
      </ng-template>
      <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
        <tr (dblclick)="classDoubleClickHandler($event, rowNode)">
          <td *ngFor="let col of cols; let i = index">
            <p-treeTableToggler [rowNode]="rowNode" *ngIf="i == 0"></p-treeTableToggler>
            <app-icon-lock *ngIf="col.field === 'status' && rowData[col.field]"
              [status]="rowData[col.field]"></app-icon-lock>
            <app-icon-note *ngIf="col.field ==='note' && rowData[col.field]"></app-icon-note>
            <i class="pi pi-link link-pointer"
              [pTooltip]="'LEXICON_EXPLORER.associatedToDictionary'|translate"></i>
            <app-icon-author *ngIf="col.field === 'creator' && rowData['creator']" [isBot]="false"
              [tooltip]="'<em>Author</em>: '+rowData['creator']+'<br><em>Creation date</em>: '+ rowData['creationDate']+'<br><em>Last update</em>: '+ rowData['lastUpdate']"></app-icon-author><!--TODO migliorare la creazione del tooltip-->
            <span>{{
              rowData[col.field] }}</span>
            <span
              [pTooltip]="rowData['sub']" tooltipPosition="bottom"
              [style.fontWeight]="rowData['isCanonical'] ? 'bold' : ''">{{ rowData[col.field] !== '' ? rowData[col.field] : ('LEXICON_EXPLORER.noDefinition'|translate) }}</span>
            <sub>{{rowData['sub']}}</sub>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td [attr.colspan]="cols.length">No result</td>
        </tr>
      </ng-template>
    </p-treeTable>
  </div>