<div class="card">
    <h5>Scegli il testo da aprire</h5>
    <p-table [value]="textChoiceList" selectionMode="single" [(selection)]="selectedText" dataKey="code" (click)="onClick($event)">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="title">Testo <p-sortIcon field="title"></p-sortIcon></th>
                <th pSortableColumn="updatedOn">Ultima modifica <p-sortIcon field="updatedOn"></p-sortIcon></th>
                <th pSortableColumn="createdBy">Utente <p-sortIcon field="createdBy"></p-sortIcon></th>
                <th pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-text>
            <tr id="{{text.id}}">
                <td data-type="title">{{text.title}}</td>
                <td data-type="updatedOn">{{text.updatedOn}}</td>
                <td data-type="createdBy">{{text.createdBy}}</td>
                <td data-type="status">{{text.status}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>