<div class="grid">
	<div class="col-12">
		<div class="card">
      <div class="page-header">
        <h5>Anagrafiche</h5>
        <p-button label="Nuovo utente" icon="pi pi-user-plus" styleClass="p-button-danger" (click)="goToNewUser()" class="ms-start"></p-button>
      </div>
      <p-table #dt [value]="users" [rowHover]="true" [responsive]="true" [scrollable]="false"
        [paginator]="true" [rows]="7" selectionMode="single" dataKey="id" styleClass="p-datatable-striped"
        responsiveLayout="scroll" (onRowSelect)="goToEditUser($event)">
        <ng-template pTemplate="header">
          <tr>
            <th>#</th>
            <th pSortableColumn="name">Nome <p-sortIcon field="name"></p-sortIcon></th>
            <th pSortableColumn="surname">Cognome <p-sortIcon field="surname"></p-sortIcon></th>
            <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>
            <th pSortableColumn="role">Ruolo <p-sortIcon field="role"></p-sortIcon></th>
            <th pSortableColumn="status">Stato <p-sortIcon field="status"></p-sortIcon></th>
            <th class="text-center">Dettagli</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user columns="col">
          <tr [pSelectableRow]="user">
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.surname }}</td>
            <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
            <td>{{ user.role }}</td>
            <td>{{ user.active ? 'ATTIVO' : 'NON ATTIVO' }}</td>
            <td class="text-center">
              <button pButton pRipple type="button" icon="pi pi-user-edit" class="p-button-rounded p-button-danger p-button-text" (click)="goToEditUserById(user.id)"></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
					<tr>
						<td colspan="7">Nesssun utente trovato.</td>
					</tr>
				</ng-template>
      </p-table>
		</div>
	</div>
</div>
