<div class="grid">
	<div class="col-12">
		<div class="card">
      <div class="page-header">
        <h5>Anagrafiche</h5>
        <a routerLink="/usersManagement/adduser" class="btn btn-danger btn-with-icon ms-auto">
          <i class="pi pi-user-plus"></i>
          <span>Nuovo Utente</span>
        </a>
      </div>
      <p-table #dt [value]="users" [rowHover]="true" [responsive]="true" [scrollable]="false"
        [paginator]="true" [rows]="10" selectionMode="single" dataKey="id" styleClass="p-datatable-striped">
        <ng-template pTemplate="header">
          <tr>
            <th>#</th>
            <th pSortableColumn="name">Nome <p-sortIcon field="name"></p-sortIcon></th>
            <th pSortableColumn="surname">Cognome <p-sortIcon field="surname"></p-sortIcon></th>
            <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>
            <th pSortableColumn="role">Ruolo <p-sortIcon field="role"></p-sortIcon></th>
            <th pSortableColumn="status">Stato <p-sortIcon field="status"></p-sortIcon></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user columns="col">
          <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.surname }}</td>
            <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
            <td>{{ user.role }}</td>
            <td>{{ user.active ? 'ATTIVO' : 'NON ATTIVO' }}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
					<tr>
						<td colspan="6">Nesssun utente trovato.</td>
					</tr>
				</ng-template>
      </p-table>
		</div>
	</div>
</div>
