<p-toast></p-toast>

<div class="grid">
    <div class="col-12">
        <div class="card">
            <div class="page-header">
                <h5>Gestore layer</h5>
                <p-button label="Nuovo layer" icon="pi pi-tags" styleClass="p-button-danger" (click)="openNew()"
                    class="ms-start"></p-button>
            </div>
            <p-table #dt [value]="layers" [rows]="10" [paginator]="true" [rowHover]="true" dataKey="id"
                currentPageReportTemplate="Elementi da {first} a {last} per un totale di {totalRecords} elementi"
                [responsive]="true" responsiveLayout="scroll" [showCurrentPageReport]="true">
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="name">Nome<p-sortIcon field="name"></p-sortIcon>
                        </th>
                        <th pSortableColumn="color">Colore<p-sortIcon field="color"></p-sortIcon>
                        </th>
                        <th pSortableColumn="description">Descrizione<p-sortIcon field="description"></p-sortIcon>
                        </th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-layer let-i="rowIndex">
                    <tr>
                        <td>{{layer.name}}</td>
                        <td>
                            <p-colorPicker [(ngModel)]="layers[i].color" [disabled]="true"></p-colorPicker>
                        </td>
                        <td>{{layer.description}}</td>
                        <td>
                            <button pButton pRipple icon="pi pi-pencil"
                                class="p-button-rounded p-button-success p-mr-2 mx-2"
                                (click)="editLayer(layer)"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning mx-2"
                                (click)="deleteLayer(layer)"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        In totale ci sono {{layers ? layers.length : 0 }} layer.
                    </div>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>


<p-dialog [(visible)]="layerDialog" [style]="{width: '450px'}" header="Dettagli layer" [modal]="true"
    styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="form-group">
            <label for="name">Nome</label>
            <input class="form-control" type="text" pInputText id="name" [(ngModel)]="layer.name" required autofocus />
            <br>
            <small class="p-invalid" *ngIf="submitted && !layer.name">Il nome è obbligatorio.</small>
        </div>
        <div class="form-group">
            <label for="name">Colore</label>
            <p-colorPicker class="nopacity" [(ngModel)]="layer.color" required></p-colorPicker>
            <br>
            <small class="p-invalid" *ngIf="submitted && !layer.color">Il colore è obbligatorio.</small>
        </div>
        <div class="form-group">
            <label for="description">Descrizione</label>
            <textarea class="form-control" id="description" pInputTextarea [(ngModel)]="layer.description" rows="3"
                cols="20"></textarea>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Annulla" icon="pi pi-times" class="p-button-text"
            (click)="hideDialog()"></button>
        <button pButton pRipple label="Salva" icon="pi pi-check" class="p-button-text" (click)="saveLayer()"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}" acceptLabel="Si" rejectLabel="No"></p-confirmDialog>