<div class="grid">
  <div class="col-12">
    <div class="card">
      <div class="page-header">
        <h5 [ngStyle]="{'background-color': (tlayer$|async)?.color+'4D'}" style="border-radius: 3px">
          {{ (tlayer$|async)?.name }}
        </h5>
        <div class="button-group-actions">
          <button pButton pRipple label="Back to list" icon="pi pi-arrow-left" class="p-button-secondary"
            (click)="back()"></button>
        </div>
      </div>
      <div class="card-body p-fluid">
        <div class="row row-cols-1 row-cols-md-3">
          <div class="col">
            <label class="header-label">Name</label>
            <p>{{ (tlayer$|async)?.name }}</p>
          </div>
          <div class="col">
            <label class="header-label">Color</label>
            <p>
              <p-colorPicker [ngModel]="(tlayer$|async)?.color" [disabled]="true"></p-colorPicker>
            </p>
          </div>
          <div class="col">
            <label class="header-label">Description</label>
            <p>{{ (tlayer$|async)?.description }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body p-fluid">
        <div class="d-flex align-items-center justify-content-between mb-2">
          <label class="header-label">Features</label>
          <button pButton pRipple type="button" label="New feature" icon="pi pi-plus" class="w-auto"
            (click)="showFeatureModal()"></button>
        </div>
        <p-table #dt [value]="(features$|async)||[]" [rowHover]="true" dataKey="id" [responsive]="true"
          responsiveLayout="scroll">
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="name">Name<p-sortIcon field="name"></p-sortIcon>
              </th>
              <th pSortableColumn="type">Type<p-sortIcon field="type"></p-sortIcon>
              </th>
              <th pSortableColumn="description">Description<p-sortIcon field="description"></p-sortIcon>
              </th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-feature let-i="rowIndex">
            <tr>
              <td>{{ feature.name }}</td>
              <td>{{ feature.type }}</td>
              <td>{{ feature.description }}</td>
              <td>
                <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-success mx-2"
                  (click)="showEditFeatureModal(feature)"></button>
                <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger mx-2"
                  (click)="showDeleteFeatureModal(feature)"></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>

<p-dialog [header]="newEditTitle" class="modal" [(visible)]="visibleEditNewFeature" [modal]="true"
  [style]="{ minWidth: '30vw', maxWidth: '50vw' }" appendTo="body">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form (ngSubmit)="onSubmitFeatureModal()" [formGroup]="featuresForm" id="featureForm"
        class="validated">
        <div class="modal-body">
          <div class="form-group">
            <label class="form-label">Name *</label>
            <div class="p-fluid">
              <input formControlName="name" type="text" name="name" class="form-control" maxlength="300"
                placeholder="Feature name">
              <div *ngIf="name.invalid && (name.touched || name.dirty)" class="invalid-feedback">
                <div *ngIf="name.errors?.['required']">
                  Need to enter the name of the feature
                </div>
                <div *ngIf="name.errors?.['isNotOnlyWhitespaces']">
                  Feature name cannot contain only blanks
                </div>
                <div *ngIf="name.errors?.['notDuplicateName']">
                  There already exists a feature with this name
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="form-label">Type *</label>
            <div class="p-fluid">
              <p-dropdown formControlName="type" name="type" placeholder="Feature type" appendTo="body"
                [options]="featureTypes|keyvalue" optionLabel="key" optionValue="value" [filter]="true"
                [showClear]="true">
              </p-dropdown>
              <div *ngIf="type.invalid && (type.touched || type.dirty)" class="invalid-feedback">
                <div *ngIf="type.errors?.['required']">
                  Need to enter the type of the feature
                </div>
              </div>
            </div>
          </div>
          <div class="form-group" *ngIf="type.value === featureTypes.TAGSET">
            <label class="form-label">Tagset *</label>
            <div class="p-fluid">
              <p-dropdown formControlName="tagset" name="tagset" placeholder="Tagset value" optionLabel="name"
                [options]="(tagsets$|async)||[]" [filter]="true" [showClear]="true" appendTo="body">
              </p-dropdown>
              <div *ngIf="tagset.invalid && (tagset.touched || tagset.dirty)" class="invalid-feedback">
                <div *ngIf="tagset.errors?.['required']">
                  Need to enter the tagset of the feature
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="form-label">Description</label>
            <div class="p-fluid">
              <textarea rows="3" formControlName="description" type="text" name="description"
                class="form-control"></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="visibleEditNewFeature=false;">
            Cancel
          </button>
          <button type="submit" class="btn btn-primary">
            <span *ngIf="isEditing; else elseBlock">
              Update
            </span>
            <ng-template #elseBlock>
              <span>Add</span>
            </ng-template>
          </button>
        </div>
      </form>
    </div>
  </div>
</p-dialog>

<app-popup-delete-item #popupDeleteItem></app-popup-delete-item>