@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);

@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeicons/primeicons.css";
@import url('~bootstrap/dist/css/bootstrap.min.css');
@import url('~font-awesome/css/font-awesome.min.css');
@import url('~primeng/resources/themes/saga-blue/theme.css');
@import url('~jspanel4/dist/jspanel.min.css');
@import "../node_modules/@fortawesome/fontawesome-free/css/all.min.css";
@import "./assets/scss/variables";
@import "./assets/scss/mixins";

:root {
  --primary-color: #{$redPalette2};
  --focus-ring: 0 0 0 0.2rem #{$redPalette3};
}

// MAIN
* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: $fontSize;
}

body {
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--surface-ground);
  margin: 0;
  padding: 0;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: var(--primary-color);

  &.btn-with-icon {
    padding: 0.5rem 1rem;

    i {
      margin-right: 1rem;
    }
  }

}

a:hover {
  color: $redPalette1;
}

.layout-theme-light {
  background-color: #edf1f5;
}

// TOPBAR
.layout-topbar {
  position: fixed;
  height: 5rem;
  z-index: 997;
  left: 0;
  top: 0;
  width: 100%;
  padding: 0 2rem;
  background-color: var(--surface-card);
  transition: left $transitionDuration;
  display: flex;
  align-items: center;
  box-shadow: 0px 3px 5px rgba(0,0,0,.02), 0px 0px 2px rgba(0,0,0,.05), 0px 1px 4px rgba(0,0,0,.08);

  .layout-topbar-logo {
    display: flex;
    align-items: center;
    color: var(--surface-900);
    font-size: 1.5rem;
    font-weight: 500;
    width: 300px;
    border-radius: 12px;

    img {
      height: 2.5rem;
      margin-right: .5rem;
    }
  }

  .layout-topbar-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: var(--text-color-secondary);
    height: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    cursor: pointer;
    transition: background-color $transitionDuration;

    &:hover {
      color: var(--text-color);
      background-color: var(--surface-hover);
    }

    i {
      font-size: 1.5rem;
    }

    span {
      font-size: 1rem;
      margin-left: 1rem;
    }
  }

  .layout-topbar-icon-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: var(--text-color-secondary);
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    transition: background-color $transitionDuration;

    &:hover {
      color: var(--text-color);
      background-color: var(--surface-hover);
    }

    i {
      font-size: 1.5rem;
    }

    span {
      display: none;
      font-size: 1rem;
      margin-left: 1rem;
    }
  }

  .layout-menu-button {
    margin-right: 2rem;
  }

  .layout-topbar-menu-button {
    display: none;

    i {
      font-size: 1.25rem;
    }
  }

  .layout-topbar-menu {
    margin: 0 0 0 auto;
    padding: 0;
    list-style: none;
    display: flex;

    .layout-topbar-button {
      margin-left: 1rem;
    }

    .layout-topbar-icon-button {
      margin-left: 1rem;
    }
  }
}

@media (max-width: 991px) {
  .layout-topbar {
    justify-content: space-between;

    .layout-topbar-logo {
      width: auto;
      order: 2;
    }

    .layout-menu-button {
      margin-left: 0;
      order: 1;
    }

    .layout-topbar-menu-button {
      display: inline-flex;
      margin-left: 0;
      order: 3;
    }

    .layout-topbar-menu {
      margin-left: 0;
      position: absolute;
      flex-direction: column;
      background-color: var(--surface-overlay);
      box-shadow: 0px 3px 5px rgba(0,0,0,.02), 0px 0px 2px rgba(0,0,0,.05), 0px 1px 4px rgba(0,0,0,.08);
      border-radius: 12px;
      padding: 1rem;
      right: 2rem;
      top: 5rem;
      min-width: 15rem;
      display: none;
      -webkit-animation: scalein 0.15s linear;
      animation: scalein 0.15s linear;

      &.layout-topbar-menu-mobile-active {
        display: block
      }

      .layout-topbar-button {
        margin-left: 0;
        display: flex;
        width: 100%;
        height: auto;
        justify-content: flex-start;
        border-radius: 12px;
        padding: 1rem;

        i {
          font-size: 1rem;
          margin-right: .5rem;
        }

        span {
          font-weight: medium;
          display: block;
        }
      }

      .layout-topbar-icon-button {
        margin-left: 0;
        display: flex;
        width: 100%;
        height: auto;
        justify-content: flex-start;
        border-radius: 12px;
        padding: 1rem;

        i {
          font-size: 1rem;
          margin-right: .5rem;
        }

        span {
          font-weight: medium;
          display: block;
        }
      }
    }
  }
}

// MENU
.layout-sidebar {
  position: fixed;
  width: 300px;
  height: calc(100vh - 9rem);
  z-index: 999;
  overflow-y: auto;
  user-select: none;
  top: 7rem;
  left: 2rem;
  transition: transform $transitionDuration, left $transitionDuration;
  background-color: var(--surface-overlay);
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0px 3px 5px rgba(0,0,0,.02), 0px 0px 2px rgba(0,0,0,.05), 0px 1px 4px rgba(0,0,0,.08)
}

.layout-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    &.layout-menuitem-category {
      margin-top: .75rem;

      &:first-child {
        margin-top: 0;
      }
    }

    .layout-menuitem-root-text {
      text-transform: uppercase;
      color:var(--surface-900);
      font-weight: 600;
      margin-bottom: .5rem;
      font-size: .875rem;
    }

    a {
      cursor: pointer;
      text-decoration: none;
      display: flex;
      align-items: center;
      color:var(--text-color);
      transition: color $transitionDuration;
      border-radius: $borderRadius;
      padding: .75rem 1rem;
      transition: background-color .15s;

      span {
        margin-left: 0.5rem;
      }

      .menuitem-toggle-icon {
        margin-left: auto;
      }

      &:focus {
        @include focused-inset();
      }

      &:hover {
        background-color: $redPalette5;
        color: var(--primary-color);
      }

      &.router-link-exact-active {
        font-weight: 700;
        color: var(--primary-color);
      }
    }

    &.active {
      > a {
        color: $redPalette2;
        .menuitem-toggle-icon {
          &:before {
            content: '\e933';
          }
        }
      }
    }

    &.active-menuitem {
      > a {
        .menuitem-toggle-icon {
          &:before {
            content: '\e933';
          }
        }
      }
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;

      &.layout-submenu-wrapper-enter {
        max-height: 0;
      }

      &.layout-submenu-wrapper-enter-active {
        overflow: hidden;
        max-height: 1000px;
        transition: max-height 1s ease-in-out;
      }

      &.layout-submenu-wrapper-enter-done {
        transform: none;
      }

      &.layout-submenu-wrapper-exit {
        max-height: 1000px;
      }

      &.layout-submenu-wrapper-exit-active {
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.45s cubic-bezier(0.86, 0, 0.07, 1);
      }

      ul {
        padding-left: 1rem;
      }
    }
  }
}

// CONTENET
.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  padding: 7rem 2rem 2rem 4rem;
  transition: margin-left $transitionDuration;
}

.layout-content {
  flex: 1 1 auto;
}

// FOOTER
.layout-footer {
  transition: margin-left $transitionDuration;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  border-top: 1px solid var(--surface-border);
}

// RESPONSIVE
@media (min-width: 992px) {
  .layout-wrapper {
    &.layout-static {
      .layout-container {
        margin-left: 300px;
      }

      &.layout-static-sidebar-inactive {
        .layout-sidebar {
          transform: translateX(-100%);
          left: 0;
        }

        .layout-container {
          margin-left: 0;
          padding-left: 2rem;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .layout-wrapper {
    .layout-container {
      margin-left: 0;
      padding-left: 2rem;
    }

    .layout-sidebar {
      transform: translateX(-100%);
      left: 0;
      top: 5em;
      height: calc(100vh - 5em);
      border-radius: 0;
    }

    &.layout-mobile-sidebar-active {
      .layout-sidebar {
        transform: translateX(0);
      }

      .layout-mask {
        display: block;
      }
    }
  }

  .body-overflow-hidden {
    overflow: hidden;
  }
}

// TIPOGRAPHY
h1, h2, h3, h4, h5, h6 {
  margin: 1.5rem 0 1rem 0;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;

  &:first-child {
    margin-top: 0;
    margin-bottom: 0;
  }
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

mark {
  background: #FFF8E1;
  padding: .25rem .4rem;
  border-radius: $borderRadius;
  font-family: monospace;
}

blockquote {
  margin: 1rem 0;
  padding: 0 2rem;
  border-left: 4px solid #90A4AE;
}

hr {
  border-top: solid var(--surface-border);
  border-width: 1px 0 0 0;
  margin: 1rem 0;
}

p {
  margin: 0 0 1rem 0;
  line-height: 1.5;

  &:last-child {
      margin-bottom: 0;
  }
}

// UTILS
.card {
  background-color: var(--surface-card);
  padding: 1.5rem;
  margin-bottom: 1rem;
  border-radius: $borderRadius;
  border: 0;
  box-shadow: 0px 3px 5px rgba(0,0,0,.02), 0px 0px 2px rgba(0,0,0,.05), 0px 1px 4px rgba(0,0,0,.08) !important;

  &.card-w-title {
    padding-bottom: 2rem;
  }

  .card-body {
    padding: 0;
  }
}

.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0rem 1rem;
  margin-bottom: 1rem;
  min-height: 45px;
}

// Modifiche
.form-group {
  margin-bottom: 1rem;

  > label {
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
  }
}

.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background: $redPalette5;
  border-color: $redPalette5;
  color: $redPalette3;
}

.p-datatable .p-sortable-column.p-highlight {
  color: $redPalette3;

  &:hover {
    color: $redPalette3;
  }
}

.p-datatable .p-sortable-column.p-highlight, .p-datatable .p-sortable-column.p-highlight:hover {
  color: $redPalette3;
}

.p-datatable .p-sortable-column.p-highlight {
  .p-sortable-column-icon, &:hover .p-sortable-column-icon {
    color: $redPalette3;
  }
}

.p-toolbar {
  background: $white;
  border: 0;
}

.p-datatable.p-datatable-hoverable-rows .p-datatable-tbody > tr:not(.p-highlight):hover {
  background: $redPalette6;
  color: $redPalette7;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  background: $redPalette5;
  color: $redPalette3;
}

.cross-validation-error input,
input.ng-invalid.ng-touched,
p-radioButton.ng-invalid.ng-touched .p-radiobutton-box,
p-dropdown.ng-invalid.ng-touched > .p-dropdown,
p-treeselect.ng-invalid.ng-touched > .p-treeselect,
p-inputnumber.ng-invalid.ng-touched  input,
input[type="file"].form-control.is-invalid {
  border-left: 5px solid $errorRed;
  border-bottom: 1px solid $errorRed;
  border-right: 1px solid $errorRed;
  border-top: 1px solid $errorRed;
}

p-radioButton.ng-invalid.ng-touched .p-radiobutton-box {
  border-radius: 100%
}
.invalid-feedback,
.invalid-feedback.invalid-feedback-show,
.form-control.ng-invalid.ng-touched ~ .invalid-feedback,
.form-control.ng-invalid.ng-dirty ~ .invalid-feedback {
  display: block
}

.cross-validation-error input ~ .input-group-append > button,
.ng-invalid ~ .input-group-append > button {
  border-color: $errorRed
}

.cross-validation-error input ~ .input-group-append ~ .input-group-append > button,
.ng-invalid ~ .input-group-append ~ .input-group-append > button {
  border-color: $errorRed
}

.swal2-container {
  z-index: 6000 !important
}

.swalDangerButton {
  background-color: $swalDangerColor !important
}

.swalOkButton {
  background-color: #2196F3 !important;

  &:focus {
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #9dc1fb, 0 1px 2px 0 black !important;
  }
}
