@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);

@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeicons/primeicons.css";
@import "./assets/scss/variables";
@import "./assets/scss/mixins";

:root {
  --primary-color: #{$redPalette2};
  --focus-ring: 0 0 0 0.2rem #{$redPalette3};
}

// MAIN
* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: $fontSize;
}

body {
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--surface-ground);
  margin: 0;
  padding: 0;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: $redPalette1;
}

.layout-theme-light {
  background-color: #edf1f5;
}

// TOPBAR
.layout-topbar {
  position: fixed;
  height: 5rem;
  z-index: 997;
  left: 0;
  top: 0;
  width: 100%;
  padding: 0 2rem;
  background-color: var(--surface-card);
  transition: left $transitionDuration;
  display: flex;
  align-items: center;
  box-shadow: 0px 3px 5px rgba(0,0,0,.02), 0px 0px 2px rgba(0,0,0,.05), 0px 1px 4px rgba(0,0,0,.08);

  .layout-topbar-logo {
    display: flex;
    align-items: center;
    color: var(--surface-900);
    font-size: 1.5rem;
    font-weight: 500;
    width: 300px;
    border-radius: 12px;

    img {
      height: 2.5rem;
      margin-right: .5rem;
    }

    // &:focus {
    //   @include focused();
    // }
  }

  .layout-topbar-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: var(--text-color-secondary);
    height: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    cursor: pointer;
    transition: background-color $transitionDuration;

    &:hover {
      color: var(--text-color);
      background-color: var(--surface-hover);
    }

    // &:focus {
    //   @include focused();
    // }

    i {
      font-size: 1.5rem;
    }

    span {
      font-size: 1rem;
      margin-left: 1rem;
    }
  }

  .layout-topbar-icon-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: var(--text-color-secondary);
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    transition: background-color $transitionDuration;

    &:hover {
      color: var(--text-color);
      background-color: var(--surface-hover);
    }

    // &:focus {
    //   @include focused();
    // }

    i {
      font-size: 1.5rem;
    }

    span {
      font-size: 1rem;
      display: none;
    }
  }

  .layout-menu-button {
    margin-right: 2rem;
  }

  .layout-topbar-menu-button {
    display: none;

    i {
      font-size: 1.25rem;
    }
  }

  .layout-topbar-menu {
    margin: 0 0 0 auto;
    padding: 0;
    list-style: none;
    display: flex;

    .layout-topbar-button {
      margin-left: 1rem;
    }

    .layout-topbar-icon-button {
      margin-left: 1rem;
    }
  }
}

@media (max-width: 991px) {
  .layout-topbar {
    justify-content: space-between;

    .layout-topbar-logo {
      width: auto;
      order: 2;
    }

    .layout-menu-button {
      margin-left: 0;
      order: 1;
    }

    .layout-topbar-menu-button {
      display: inline-flex;
      margin-left: 0;
      order: 3;
    }

    .layout-topbar-menu {
      margin-left: 0;
      position: absolute;
      flex-direction: column;
      background-color: var(--surface-overlay);
      box-shadow: 0px 3px 5px rgba(0,0,0,.02), 0px 0px 2px rgba(0,0,0,.05), 0px 1px 4px rgba(0,0,0,.08);
      border-radius: 12px;
      padding: 1rem;
      right: 2rem;
      top: 5rem;
      min-width: 15rem;
      display: none;
      -webkit-animation: scalein 0.15s linear;
      animation: scalein 0.15s linear;

      &.layout-topbar-menu-mobile-active {
        display: block
      }

      .layout-topbar-button {
        margin-left: 0;
        display: flex;
        width: 100%;
        height: auto;
        justify-content: flex-start;
        border-radius: 12px;
        padding: 1rem;

        i {
          font-size: 1rem;
          margin-right: .5rem;
        }

        span {
          font-weight: medium;
          display: block;
        }
      }

      .layout-topbar-icon-button {
        margin-left: 0;
        display: flex;
        width: 100%;
        height: auto;
        justify-content: flex-start;
        border-radius: 12px;
        padding: 1rem;

        i {
          font-size: 1rem;
          margin-right: .5rem;
        }

        span {
          font-weight: medium;
          display: block;
        }
      }
    }
  }
}

// MENU
.layout-sidebar {
  position: fixed;
  width: 300px;
  height: calc(100vh - 9rem);
  z-index: 999;
  overflow-y: auto;
  user-select: none;
  top: 7rem;
  left: 2rem;
  transition: transform $transitionDuration, left $transitionDuration;
  background-color: var(--surface-overlay);
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0px 3px 5px rgba(0,0,0,.02), 0px 0px 2px rgba(0,0,0,.05), 0px 1px 4px rgba(0,0,0,.08)
}

.layout-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    &.layout-menuitem-category {
      margin-top: .75rem;

      &:first-child {
        margin-top: 0;
      }
    }

    .layout-menuitem-root-text {
      text-transform: uppercase;
      color:var(--surface-900);
      font-weight: 600;
      margin-bottom: .5rem;
      font-size: .875rem;
    }

    a {
      cursor: pointer;
      text-decoration: none;
      display: flex;
      align-items: center;
      color:var(--text-color);
      transition: color $transitionDuration;
      border-radius: $borderRadius;
      padding: .75rem 1rem;
      transition: background-color .15s;

      span {
        margin-left: 0.5rem;
      }

      .menuitem-toggle-icon {
        margin-left: auto;
      }

      &:focus {
        @include focused-inset();
      }

      &:hover {
        background-color: $redPalette5;
        color: var(--primary-color);
      }

      &.router-link-exact-active {
        font-weight: 700;
        color: var(--primary-color);
      }
    }

    &.active {
      > a {
        color: $redPalette2;
        .menuitem-toggle-icon {
          &:before {
            content: '\e933';
          }
        }
      }
    }

    &.active-menuitem {
      > a {
        .menuitem-toggle-icon {
          &:before {
            content: '\e933';
          }
        }
      }
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;

      &.layout-submenu-wrapper-enter {
        max-height: 0;
      }

      &.layout-submenu-wrapper-enter-active {
        overflow: hidden;
        max-height: 1000px;
        transition: max-height 1s ease-in-out;
      }

      &.layout-submenu-wrapper-enter-done {
        transform: none;
      }

      &.layout-submenu-wrapper-exit {
        max-height: 1000px;
      }

      &.layout-submenu-wrapper-exit-active {
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.45s cubic-bezier(0.86, 0, 0.07, 1);
      }

      ul {
        padding-left: 1rem;
      }
    }
  }
}


// CONTENET
.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  padding: 7rem 2rem 2rem 4rem;
  transition: margin-left $transitionDuration;
}

.layout-content {
  flex: 1 1 auto;
}

// FOOTER
.layout-footer {
  transition: margin-left $transitionDuration;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  border-top: 1px solid var(--surface-border);
}

// RESPONSIVE
@media (min-width: 992px) {
  .layout-wrapper {
    &.layout-static {
      .layout-container {
        margin-left: 300px;
      }

      &.layout-static-sidebar-inactive {
        .layout-sidebar {
          transform: translateX(-100%);
          left: 0;
        }

        .layout-container {
          margin-left: 0;
          padding-left: 2rem;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .layout-wrapper {
    .layout-container {
      margin-left: 0;
      padding-left: 2rem;
    }

    .layout-sidebar {
      transform: translateX(-100%);
      left: 0;
      top: 5em;
      height: calc(100vh - 5em);
      border-radius: 0;
    }

    &.layout-mobile-sidebar-active {
      .layout-sidebar {
        transform: translateX(0);
      }

      .layout-mask {
        display: block;
      }
    }
  }

  .body-overflow-hidden {
    overflow: hidden;
  }
}



// TIPOGRAPHY
h1, h2, h3, h4, h5, h6 {
  margin: 1.5rem 0 1rem 0;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;

  &:first-child {
      margin-top: 0;
  }
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

mark {
  background: #FFF8E1;
  padding: .25rem .4rem;
  border-radius: $borderRadius;
  font-family: monospace;
}

blockquote {
  margin: 1rem 0;
  padding: 0 2rem;
  border-left: 4px solid #90A4AE;
}

hr {
  border-top: solid var(--surface-border);
  border-width: 1px 0 0 0;
  margin: 1rem 0;
}

p {
  margin: 0 0 1rem 0;
  line-height: 1.5;

  &:last-child {
      margin-bottom: 0;
  }
}


// .layout-wrapper {
//   &.layout-static {
//     .layout-main-container {
//         margin-left: 300px;
//     }

//     &.layout-static-sidebar-inactive {
//       .layout-sidebar {
//         transform: translateX(-100%);
//         left: 0;
//       }

//       .layout-main-container {
//         margin-left: 0;
//         padding-left: 2rem;
//       }
//     }
//   }

//   .layout-mask {
//       display: none;
//   }
// }

// @media (max-width: 991px) {
// .layout-wrapper {
//   .layout-main-container {
//       margin-left: 0;
//       padding-left: 2rem;
//   }

//   .layout-sidebar {
//       transform: translateX(-100%);
//       left: 0;
//       top: 0;
//       height: 100vh;
//       border-top-left-radius: 0;
//       border-bottom-left-radius: 0;
//   }

//   .layout-mask {
//       z-index: 998;
//       background-color: var(--mask-bg);

//       &.layout-mask-enter-from,
//       &.layout-mask-leave-to {
//           background-color: transparent;
//       }
//   }

//   &.layout-mobile-sidebar-active {
//       .layout-sidebar {
//           transform: translateX(0);
//       }

//       .layout-mask {
//           display: block;
//       }
//   }
// }

// .body-overflow-hidden {
//   overflow: hidden;
// }
// }




// From undercontrol
// .cross-validation-error input,
// input.ng-invalid.ng-touched,
// ng-select2.ng-invalid.ng-touched > span.select2-container,
// p-radioButton.ng-invalid.ng-touched .p-radiobutton-box,
// p-dropdown.ng-invalid.ng-touched > .p-dropdown,
// p-inputnumber.ng-invalid.ng-touched input {
//   border-left: 5px solid #A94442;
//   border-bottom: 1px solid #A94442;
//   border-right: 1px solid #A94442;
//   border-top: 1px solid #A94442; }

// p-radioButton.ng-invalid.ng-touched .p-radiobutton-box {
//   border-radius: 100%; }

// .invalid-feedback,
// .invalid-feedback.invalid-feedback-show,
// .form-control.ng-invalid.ng-touched ~ .invalid-feedback,
// .form-control.ng-invalid.ng-dirty ~ .invalid-feedback {
//   display: block; }

// .cross-validation-error input ~ .input-group-append > button,
// .ng-invalid ~ .input-group-append > button {
//   border-color: #A94442; }

// .cross-validation-error input ~ .input-group-append ~ .input-group-append > button,
// .ng-invalid ~ .input-group-append ~ .input-group-append > button {
//   border-color: #A94442; }

// .swalDangerButton {
//   background-color: #EC4758 !important; }

// .blue-widget-dark-bg {
//   background-color: #011f4b;
//   color: #ffffff; }

// .blue-widget-normal-bg {
//   background-color: #03396c;
//   color: #ffffff; }

// .blue-widget-light-bg {
//   background-color: #005b96;
//   color: #ffffff; }

// .blue-widget-lightest-bg {
//   background-color: #6497b1;
//   color: #ffffff; }

// table > tbody > tr.selectable-table {
//   cursor: pointer; }

// .subtitle {
//   margin-top: -5px; }

// .form-control.nonGrayReadonly:disabled,
// .form-control.nonGrayReadonly[readonly],
// .p-inputnumber.nonGrayReadonly .p-inputnumber-input {
//   background-color: #ffffff; }

// .margin-right-small {
//   margin-right: 3px; }

// .margin-top-small {
//   margin-top: 5px; }

// .cursor-hand {
//   cursor: pointer; }

// .ibox {
//   margin-bottom: 20px; }

// .spaceRight {
//   margin-right: 3px; }

// .spaceLeft {
//   margin-left: 3px; }

// .spaceBottom {
//   margin-bottom: 3px; }

// .header-label {
//   font-weight: bold; }

// .header-value {
//   font-weight: normal; }

// .active-item {
//   color: #5DADE2 !important; }

// .swal2-container {
//   z-index: 6000 !important; }

// .tooltip {
//   font-size: 1rem; }

// .order-tooltip {
//   z-index: 2300; }

// .order-tooltip .tooltip-inner {
//   max-width: 300px; }

// .breadcrumb {
//   margin-top: 5px;
//   margin-bottom: -10px; }

// .ibox-title {
//   padding: 15px 8px 8px 15px; }

// .positive-balance {
//   color: #229954 !important; }

// .negative-balance {
//   color: #D91614 !important; }

// .footer-label {
//   font-weight: bold; }

// .footer-value {
//   font-weight: normal; }

// .iga-badge,
// .project-badge,
// .payment-badge,
// .invoice-badge {
//   border-radius: 5px;
//   padding: .25em .5em;
//   font-weight: 600;
//   letter-spacing: .3px; }

// .iga-badge.status-accepted,
// .project-badge.status-active,
// .invoice-badge.status-paid,
// .payment-badge.status-paid {
//   background-color: #e6ffe6; }

// .iga-badge.status-sent,
// .project-badge.status-pending-approval,
// .invoice-badge.status-partially-paid {
//   background-color: #fffed1; }

// .iga-badge.status-done,
// .project-badge.status-suspended {
//   background-color: #e7e7e7; }

// .iga-badge.status-not-accepted,
// .project-badge.status-closed,
// .invoice-badge.status-not-paid {
//   background-color: #ffd4d4; }

// .iga-badge.status-to-do,
// .project-badge.status-billable {
//   background-color: #dbe5ff; }

// .iga-badge.status-accepted {
//   color: #229954; }

// .iga-badge.status-sent {
//   color: #ffae00; }

// .iga-badge.status-done {
//   color: #000000; }

// .iga-badge.status-not-accepted {
//   color: #D91614; }

// .iga-badge.status-to-do {
//   color: #1D70E0; }

// .payment-badge.status-paid {
//   color: #229954; }

// .project-badge.status-active {
//   color: #229954; }

// .project-badge.status-pending-approval {
//   color: #ffae00; }

// .project-badge.status-billable {
//   color: #1D70E0; }

// .project-badge.status-closed {
//   color: #D91614; }

// .project-badge.status-suspended {
//   color: #000000; }

// .invoice-badge.status-paid {
//   color: #229954; }

// .invoice-badge.status-not-paid {
//   color: #D91614; }

// .invoice-badge.status-partially-paid {
//   color: #ffae00; }

// tfoot > tr:first-child {
//   border-top: 2px solid; }

// .no-margin-bottom {
//   margin-bottom: 0; }

// .formTopMargin {
//   margin-top: 15px; }

// .fc-event-title {
//   color: #ffffff; }

// html {
//   font-size: 13px; }

// .p-datatable table,
// .p-datatable .p-inputtext,
// .p-datatable .p-slider,
// .p-datatable .p-multiselect,
// .p-datatable .p-multiselect-items-wrapper > ul,
// .p-datatable .p-dropdown-items-wrapper > ul,
// .p-datatable .p-component {
//   font-size: 12px; }

// .p-datatable .p-datatable-thead > tr > th {
//   text-align: center;
//   text-overflow: ellipsis; }

// .p-datatable .p-multiselect-items-wrapper > ul,
// .p-datatable .p-dropdown-items-wrapper > ul {
//   text-align: left; }

// .p-datatable .p-datatable-tbody > tr > td,
// .p-datatable .p-datatable-tfoot > tr > td {
//   padding: 5px;
//   overflow: hidden;
//   text-overflow: ellipsis; }
//   .p-datatable .p-datatable-tbody > tr > td:hover,
//   .p-datatable .p-datatable-tfoot > tr > td:hover {
//     text-decoration: underline;
//     text-overflow: initial;
//     overflow-x: auto; }

// .p-column-filter.p-inputtext,
// .p-column-filter.p-multiselect,
// .p-column-filter.p-dropdown {
//   width: 100%; }

// .slider-number-range-sm {
//   font-size: x-small; }

// p-calendar .p-calendar .p-datepicker {
//   min-width: 350px; }

// .fc-event {
//   padding: 1px; }

// .cost-account-view-panel {
//   top: 35% !important;
//   left: 35% !important;
//   width: 700px; }

// .p-overlaypanel:before {
//   bottom: none !important;
//   left: unset !important;
//   position: unset !important;
//   content: unset !important; }

// .p-overlaypanel:after {
//   border-bottom-color: transparent !important;
//   border-top-color: transparent !important; }

// li.p-dropdown-item {
//   white-space: normal; }

// .p-inputgroup-addon {
//   background-color: #e9ecef;
//   min-width: auto; }

// .input-readonly .p-inputnumber-input {
//   opacity: 1;
//   background-color: #e9ecef;
//   border: 1px solid #bebdbd;
//   color: #495057; }

// .p-inputgroup input:first-child {
//   border-top-left-radius: 0;
//   border-bottom-left-radius: 0; }

// .p-inputgroup input:last-child {
//   border-top-right-radius: 0;
//   border-bottom-right-radius: 0; }

// .p-padding {
//   padding-left: 10px;
//   padding-right: 10px; }

// .p-button-inline {
//   padding: 9px; }

// .p-paginator-left-content {
//   margin-left: 5px; }

// .overflow-usedBudget .p-inputnumber-input,
// .overflow-usedBudget.p-inputgroup-addon {
//   color: #D91614 !important; }

// .content-middle {
//   display: flex;
//   justify-content: center;
//   align-content: center;
//   flex-direction: column; }

// .card-single-center {
//   display: flex;
//   justify-content: center;
//   align-content: center;
//   flex-direction: column;
//   align-items: center;
//   vertical-align: middle;
//   height: 100vh; }

// .seven-cols-item {
//   width: 12%;
//   margin: auto; }

// .dropdown-item-text {
//   position: relative;
//   left: 10px; }

// .dropdown-item-button {
//   position: absolute;
//   right: 10px;
//   margin: auto; }

// .p-field-checkbox {
//   margin-bottom: 1rem;
//   display: flex;
//   align-items: center; }

// .p-field-checkbox > label,
// .p-field-radiobutton > label {
//   margin-left: .5rem;
//   margin-bottom: .0rem;
//   line-height: 1; }
